stDemoOne/force-app/main/default/flows/AuthorizeRfrlForPrvd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the Provider ID field has an account ID.</description>
        <name>PostMessageToChatterFeedAccountProvider</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral because the Provider ID field on the referral record has the ID of an account record. Specify a contact or healthcare provider record ID in the Provider ID field and try again.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the Enrollee ID isn’t specified for the benefit assignment record in the Benefit Assignment from GetBenefitAssignment record variable.</description>
        <name>PostMessageToChatterFeedNoEnrollee</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>1040</locationX>
        <locationY>1898</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral for the provider because the benefit assignment related to the referral doesn’t have an enrollee. Specify the enrollee and try again.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the Permission Set Assignment from GetProviderUserPermissionSetAssignment record variable doesn’t contain a record.</description>
        <name>PostMessageToChatterFeedNoPermissionSetAssignment</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>1304</locationX>
        <locationY>1790</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral for the provider because the provider user doesn’t have the required permissions. Assign the Provider Management for Partner permission set to the provider user and try again. Your Salesforce admin can help with that.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the Provider ID field is empty.</description>
        <name>PostMessageToChatterFeedNoProvider</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral because the Provide ID field on the referral record is empty. Specify a contact or healthcare provider record ID in the Provider ID field and try again.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the Contact ID isn’t specified in the healthcare provider record in the Healthcare Provider from Get Healthcare Provider record variable.</description>
        <name>PostMessageToChatterFeedNoProviderContact</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral for the provider because the Contact ID field on the healthcare provider record is empty. Specify the Contact ID and try again.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the User from GetProviderContactUser record variable doesn’t contain a record.</description>
        <name>PostMessageToChatterFeedNoProviderContactUser</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral for the provider because the Contact ID field on the healthcare provider record refers to a contact who isn’t enabled as a partner user. Enable the contact as a partner user and try again. Your Salesforce admin can help with that.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow if the User from GetUser record variable doesn’t contain a record.</description>
        <name>PostMessageToChatterFeedNoProviderUser</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] We couldn’t authorize the referral for the provider because the Provider ID field on the referral record has the ID of a contact who isn’t enabled as a partner user. Enable the contact as a partner user and try again. Your Salesforce admin can help with that.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that posts a message to the chatter feed of the referral record passed into the flow to confirm that the benefit assignment related to the referral and the account of the benefit assignment enrollee were shared with the provider user.</description>
        <name>PostMessageToChatterRecordsShared</name>
        <label>Post Message to Chatter Feed</label>
        <locationX>512</locationX>
        <locationY>2522</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UpdateReferralRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$User.Id}] The benefit assignment and the enrollee account were shared with the provider user.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the Enrollee ID of the benefit assignment record in the Benefit Assignment from GetBenefitAssignment record variable to the enrolleeAccountId variable.</description>
        <name>SetEnrolleeAccountID</name>
        <label>Set Enrollee Account ID</label>
        <locationX>248</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>enrolleeAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetBenefitAssignment.EnrolleeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBenefitAssignmentShareRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Account ID of the contact record in the Contact from GetEnrolleeContact record variable to the enrolleeAccountId variable.</description>
        <name>SetEnrolleeAccountIDFromContact</name>
        <label>Set Enrollee Account ID</label>
        <locationX>512</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>enrolleeAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetEnrolleeContact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBenefitAssignmentShareRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the user record in the User from GetUser record variable to the providerUserId variable.</description>
        <name>SetProviderUserId</name>
        <label>Set Provider User ID</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>providerUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPartnerPermissionSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the user record in the User from GetProviderContactUser record variable to the providerUserId variable.</description>
        <name>SetProviderUserIDFromContact</name>
        <label>Set Provider User ID</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>providerUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetProviderContactUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPartnerPermissionSet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether an Enrollee ID is specified for the benefit assignment record in the Benefit Assignment from GetBenefitAssignment record variable.</description>
        <name>DoesBenefitAssignmentHaveEnrollee</name>
        <label>Does Benefit Assignment Have Enrollee?</label>
        <locationX>776</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>PostMessageToChatterFeedNoEnrollee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasEnrollee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBenefitAssignment.EnrolleeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhichTypeOfEnrolleeRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a provider contact is available by checking if a Contact ID is specified in the healthcare provider record in the Healthcare Provider from GetHealthcareProvider record variable.</description>
        <name>HaveProviderContact</name>
        <label>Have Provider Contact?</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PostMessageToChatterFeedNoProviderContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasProviderContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHealthcareProvider.PractitionerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProviderContactUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a provider contact user is found by checking if the User from GetProviderContactUser record variable has a record.</description>
        <name>HaveProviderContactUser</name>
        <label>Have Provider Contact User?</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>PostMessageToChatterFeedNoProviderContactUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasProviderContactUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProviderContactUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetProviderUserIDFromContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the provider user exists by checking if User from GetUser record variable contains a record.</description>
        <name>HaveProviderUser</name>
        <label>Have Provider User?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PostMessageToChatterFeedNoProviderUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasProviderUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetProviderUserId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the outbound source for the referral is a benefit assignment record by checking if the Outbound Source ID of the referral record in the Referral from Get Referral record variable starts with “0nd”.</description>
        <name>IsOutboundSourceBenefitAssignment</name>
        <label>Is Outbound Source Benefit Assignment?</label>
        <locationX>1601</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsBenefitAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRecord.OutboundSourceId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0nD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBenefitAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the provider user is assigned the Provider Management permission set by checking if Permission Set Assignment from GetPermissionSetAssignment record variable contains a record.</description>
        <name>IsPermissionSetAssignedToProviderUser</name>
        <label>Is Permission Set Assigned to User?</label>
        <locationX>1040</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>PostMessageToChatterFeedNoPermissionSetAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsAssignedPartnerPermissionSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProviderUserPermissionSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesBenefitAssignmentHaveEnrollee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the type of the record that’s referenced by the Enrollee ID field on the benefit assignment record in the Benefit Assignment from GetBenefitAssignment record variable.</description>
        <name>WhichTypeOfEnrolleeRecord</name>
        <label>Which Type of Enrollee Record?</label>
        <locationX>512</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>IsEnrolleeAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBenefitAssignment.EnrolleeId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEnrolleeAccountID</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>IsEnrolleeContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBenefitAssignment.EnrolleeId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEnrolleeContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which type of record is referenced by the Provider ID field on the referral record in the Referral from GetReferral record variable.</description>
        <name>WhichTypeOfProviderRecord</name>
        <label>Which Type of Provider Record?</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>IsContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRecord.ProviderId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>IsHealthcareProvider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRecord.ProviderId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0cm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetHealthcareProvider</targetReference>
            </connector>
            <label>Healthcare Provider</label>
        </rules>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRecord.ProviderId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostMessageToChatterFeedAccountProvider</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>IsNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRecord.ProviderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostMessageToChatterFeedNoProvider</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <description>Authorizes a referral for a provider, and shares the benefit assignment record related to the referral and the account of the benefit assignment enrollee with the provider user.</description>
    <environments>Default</environments>
    <interviewLabel>Authorize Referral for Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Authorize Referral for Provider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an account share record, setting the access level to Read, account ID to enrolleeAccountID, and user or group ID to providerUserId. Stores the ID of the new account share record in Account Share ID from CreateAccountShare Record.</description>
        <name>CreateAccountShareRecord</name>
        <label>Create Account Share Record</label>
        <locationX>512</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>PostMessageToChatterRecordsShared</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>enrolleeAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>providerUserId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a benefit assignment share record, setting the access level to Edit, parent ID to the ID of the benefit assignment record, and user or group ID to providerUserId. Stores the ID of the new benefit assignment share record in Benefit Assignment Share ID from CreateBenefitAssignmentShare Record.</description>
        <name>CreateBenefitAssignmentShareRecord</name>
        <label>Create Benefit Assignment Share Record</label>
        <locationX>512</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>CreateAccountShareRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetBenefitAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>providerUserId</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignmentShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the benefit assignment record with an ID that matches the Outbound Source ID of the referral record in the Referral from GetReferral record variable. Stores the result in the Benefit Assignment from GetBenefitAssignment record variable.</description>
        <name>GetBenefitAssignment</name>
        <label>Get Benefit Assignment</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichTypeOfProviderRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReferralRecord.OutboundSourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the contact record with an ID that matches the Enrollee ID of the benefit assignment record in the Benefit Assignment from GetBenefitAssignment record variable. Stores the result in the Contact from GetEnrolleeContact record variable.</description>
        <name>GetEnrolleeContact</name>
        <label>Get Contact</label>
        <locationX>512</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetEnrolleeAccountIDFromContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBenefitAssignment.EnrolleeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the healthcare provider record with an ID that matches the Provider ID of the referral record in the Referral from GetReferral record variable. Stores the result in the Healthcare Provider from GetHealthcareProvider record variable.</description>
        <name>GetHealthcareProvider</name>
        <label>Get Healthcare Provider</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveProviderContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReferralRecord.ProviderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcareProvider</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the permission set record with a Name that matches “ProviderManagementForPartnerPsl”. Stores the result in the Permission Set from GetPartnerPermissionSet record variable.</description>
        <name>GetPartnerPermissionSet</name>
        <label>Get Permission Set</label>
        <locationX>1040</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProviderUserPermissionSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProviderManagementForPartnerPsl</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the user record with a Contact ID that matches the Contact ID of the healthcare provider record in the Healthcare Provider from GetHealthcareProvider record variable. Stores the result in the User from GetProviderContactUser record variable.</description>
        <name>GetProviderContactUser</name>
        <label>Get User</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveProviderContactUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetHealthcareProvider.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the permission set assignment record with an Assignee ID that matches providerUserId and a Permission Set ID that matches the ID of the record in the Permission Set from GetPartnerPermissionSet record variable. Stores the result in the Permission Set Assignment from GetProviderUserPermissionSet Assignment record variable.</description>
        <name>GetProviderUserPermissionSetAssignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>1040</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPermissionSetAssignedToProviderUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providerUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPartnerPermissionSet.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the referral record with an ID that matches the recordId passed into the flow. Stores the result in the Referral from GetReferral record variable.</description>
        <name>GetReferralRecord</name>
        <label>Get Referral Record</label>
        <locationX>1601</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOutboundSourceBenefitAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the user record with a Contact ID that matches the Provider ID of the referral record in the Referral from GetReferral record variable. Stores the result in the User from GetUser record variable.</description>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveProviderUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReferralRecord.ProviderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the referral record passed into the flow, setting the authorization status to Authorized.</description>
        <name>UpdateReferralRecord</name>
        <label>Update Referral Record</label>
        <locationX>512</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>ScreenDisplaySuccessMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AuthorizationStatus</field>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </inputAssignments>
        <object>Referral</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Displays a message to the flow user when the referral is authorized for the provider, and the benefit assignment record and the account of the benefit assignment enrollee are shared with the provider user.</description>
        <name>ScreenDisplaySuccessMessage</name>
        <label>Display Success Message</label>
        <locationX>512</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The referral was authorized, and the benefit assignment and beneficiary account records were shared with the provider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1475</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetReferralRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>debugUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>debugUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the account ID of the benefit assignment enrollee.</description>
        <name>enrolleeAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the user record of the provider user.</description>
        <name>providerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the referral passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
