stDemoOne/force-app/main/default/flows/Autocreate_Mailing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_record_exists</name>
        <label>Check if record exists</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_check_if_record_exists_in_the_unified_address_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_the_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnifiedAddressesRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unified_Addresses_Record</targetReference>
            </connector>
            <label>Check if the record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_if_record_exists</name>
        <label>Copy 1 of Check if record exists</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_check_if_record_exists_in_the_unified_Email_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_if_the_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unified_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unified_Phone</targetReference>
            </connector>
            <label>Copy 1 of Check if the record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_if_record_exists</name>
        <label>Copy 1 of Copy 1 of Check if record exists</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Check_if_the_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnifiedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Unified_Email</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Check if the record exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autocreate Mailing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autocreate Mailing Address, Phone, Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Unified_Email</name>
        <label>Copy 1 of Create Unified Email</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>xDO_MDC_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <object>xDO_MDC_Unified_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Unified_Addresses_Record</name>
        <label>Create Unified Addresses Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Copy_1_of_check_if_record_exists_in_the_unified_address_object</targetReference>
        </connector>
        <inputAssignments>
            <field>xDO_MDC_Address__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_Country__c</field>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_Postal_Code__c</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_State__c</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <object>xDO_MDC_Unified_Addresses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Unified_Phone</name>
        <label>Create Unified Phone</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_check_if_record_exists_in_the_unified_Email_object</targetReference>
        </connector>
        <inputAssignments>
            <field>xDO_MDC_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_MDC_Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>xDO_MDC_Unified_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>check_if_record_exists_in_the_unified_address_object</name>
        <label>check if record exists in the unified address object</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_MDC_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>xDO_MDC_City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>xDO_MDC_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>xDO_MDC_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>xDO_MDC_Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </filters>
        <object>xDO_MDC_Unified_Addresses__c</object>
        <outputReference>UnifiedAddressesRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_check_if_record_exists_in_the_unified_address_object</name>
        <label>Copy 1 of check if record exists in the unified Contact object</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_if_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_MDC_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>xDO_MDC_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <object>xDO_MDC_Unified_Phone__c</object>
        <outputReference>Unified_Phone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_check_if_record_exists_in_the_unified_Email_object</name>
        <label>Copy 1 of Copy 1 of check if record exists in the unified Email object</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Check_if_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_MDC_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>xDO_MDC_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>xDO_MDC_Unified_Email__c</object>
        <outputReference>UnifiedEmail</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_record_exists_in_the_unified_address_object</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Unified_Email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_MDC_Unified_Email__Share</objectType>
    </variables>
    <variables>
        <name>Unified_Phone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_MDC_Unified_Phone__c</objectType>
    </variables>
    <variables>
        <name>UnifiedAddressesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_MDC_Unified_Addresses__c</objectType>
    </variables>
    <variables>
        <name>UnifiedAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnifiedEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_MDC_Unified_Email__c</objectType>
    </variables>
</Flow>
