stDemoOne/force-app/main/default/flows/Create_Indicators_for_Visit_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Indicator</name>
        <label>Add Indicator</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Indicators</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Indicator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Indicator_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Indicator</name>
        <label>Create Indicator</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Indicator.AssessmentIndDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Indicator_Ids.AssessmentIndDefinitionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Indicator.AssessmentTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Assessment_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Indicator</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Indicators for Visit Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Indicators for Visit Tasks</label>
    <loops>
        <name>Loop_over_Assessment_Tasks</name>
        <label>Loop over Assessment Tasks</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Assessment_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Indicator_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Indicators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Indicator_Ids</name>
        <label>Loop over Indicator Ids</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Indicator_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Assessment_Indicator_Definition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_Assessment_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Indicators</name>
        <label>Create Indicators</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <inputReference>Indicators</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assessment_Indicator_Definition</name>
        <label>Get Assessment Indicator Definition</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Indicator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Indicator_Ids.AssessmentIndDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentIndicatorDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Tasks</name>
        <label>Get Assessment Tasks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Assessment_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssessmentTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indicator_Ids</name>
        <label>Get Indicator Ids</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Indicator_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Assessment_Tasks.AssessmentTaskDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentTaskIndDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assessment_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssessmentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Indicator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>Indicators</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>inputVisit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Z54S000000Gt4kSAC</stringValue>
        </value>
    </variables>
</Flow>
