stDemoOne/force-app/main/default/flows/gps_Grantmaking_Share_Application_Review_bae.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the individual application task record IDs to the list of LinkedEntityIds whose related files are accessible to the reviewer.</description>
        <name>AddAcsblIndvApplnTaskIdstoCollection</name>
        <label>Add Accessible Individual Application Task IDs to Collection</label>
        <locationX>556</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>linkedEntityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverIndividualApplnTasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesIndvApplnTaskShareRecordExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the budget ID to the collection of linked entity IDs that are used to determine which files are accessible to the reviewer.</description>
        <name>AddBudgetRecordIdToCollection</name>
        <label>Add Budget Record ID to Collection</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>linkedEntityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRelatedBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesManualShareBudgetRecordExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the individual application record ID to the collection of linked entity IDs that are used to determine which files are accessible to the reviewer.</description>
        <name>AddIndividualApplicationIdToCollection</name>
        <label>Add Individual Application ID to Collection</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>linkedEntityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetIndividualApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesIndividualApplicationShareRecordExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the individual application task record IDs to the collection of IndividualApplicationTaskIdsToShare that need to be manually shared to give the reviewer access to the records.</description>
        <name>AddIndvApplnTaskIdsToShareCollection</name>
        <label>Add Individual Application Task IDs to Share Collection</label>
        <locationX>424</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>individualApplicationTaskIdsToShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverIndividualApplnTasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverIndividualApplnTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes the action of creating another individual application task share if a sharing record already exists giving the reviewer read or edit access.</description>
        <name>RemoveSharedIndividualApplicationTasks</name>
        <label>Remove Shared Individual Application Tasks</label>
        <locationX>424</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>individualApplicationTaskIdsToShare</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>IterateOverIndvApplnTaskShareRecords.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverIndvApplnTaskShareRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets field values for individual application task share records.</description>
        <name>SetIndividualApplicationTaskShareRecords</name>
        <label>Set Individual Application Task Share Records</label>
        <locationX>424</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>iaTaskShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverIndividualApplicationTasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iaTaskShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iaTaskShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iaTaskShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iaTaskShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iaTaskShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverIndividualApplicationTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets field values for the share record to give the reviewer access to the related files.</description>
        <name>SetRelatedFilesShareRecord</name>
        <label>Set Related Files Share Record</label>
        <locationX>292</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>IterateOverRelaFilesNotShrwithExtlUsers.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinksToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverRelaFilesNotShrwithExtlUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverRelaFilesNotShrwithExtlUsers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether to create a manual application review share record to give edit access to the reviewer by checking if the owner ID of the record from the Application Review from GetApplicationReview variable is not equal to the ReviewerId.</description>
        <name>DoesApplicationReviewShareRecordExist</name>
        <label>Does Application Review Share Record Exist?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>GetIndividualApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasApplicationReviewShareRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationReview.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ReviewerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateApplicationReviewShare</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to create a manual individual application share record to give read access to the reviewer by checking if the individual application share from Get Individual Application Share Record is blank and if the owner ID of the record from the Application Review from GetApplicationReview variable is not equal to the ReviewerId.</description>
        <name>DoesIndividualApplicationShareRecordExist</name>
        <label>Does Individual Application Share Record Exist?</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>DoesRelatedBudgetRecordExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasIndividualApplicationShareRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndividualApplicationShareRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndividualApplication.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ReviewerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateIndividualApplicationShareRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to create a manual individual application task share record to give the reviewer read access to the individual application task by checking if the owner ID of the record from the current item from the loop individual application tasks is not equal to the ReviewerId.</description>
        <name>DoesIndvApplnTaskShareRecordExist</name>
        <label>Does Individual Application Task Share Record Exist?</label>
        <locationX>556</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>IterateOverIndividualApplnTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasIndividualApplicationTaskShareRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverIndividualApplnTasks.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ReviewerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddIndvApplnTaskIdsToShareCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to create a manual budget share record to give the reviewer read access to the files by checking if the manual budget share from GetBudgetShare exists and if the owner ID of the record from the Application Review in the GetApplicationReview variable is not equal to the ReviewerId.</description>
        <name>DoesManualShareBudgetRecordExist</name>
        <label>Does Manual Share Budget Record Exist?</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>GetIndividualApplicationTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasManualShareBudgetRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedShare</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedBudget.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ReviewerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateBudgetShareRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the individual application has a related budget record by checking if the individual application from Get Individual Application has a Budget ID.</description>
        <name>DoesRelatedBudgetRecordExist</name>
        <label>Does Related Budget Record Exist?</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>GetIndividualApplicationTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasRelatedBudgetRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndividualApplication.BudgetId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBudget</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to update file access for the reviewer by checking if IsExternalReviewer is set to true.</description>
        <name>HaveExternalReviewer</name>
        <label>Have External Reviewer?</label>
        <locationX>336</locationX>
        <locationY>3722</locationY>
        <defaultConnectorLabel>No, internal reviewer</defaultConnectorLabel>
        <rules>
            <name>HasExternalReviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsExternalReviewer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedFilesNotSharedWithExternalUsers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the application review has a reviewer by checking if the Application Review from GetApplicationReview record variable has a user ID.</description>
        <name>HaveReviewer</name>
        <label>Have Reviewer?</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasReviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationReview.AssignedUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetReviewer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Revised Flow collection should be IterateOverIndividualApplicationTasks (This collection is a list of IATask Ids)  but were iterating over IterateOverIndividualApplnTasks and getting the IA Task Parent Id and setting null as the parent Id.</description>
    <environments>Default</environments>
    <formulas>
        <description>Indicates whether the reviewer is an authenticated Experience Cloud site user, based on the User.ContactId field.</description>
        <name>IsExternalReviewer</name>
        <dataType>Boolean</dataType>
        <expression>{!GetReviewer.ContactId}&lt;&gt;Null</expression>
    </formulas>
    <formulas>
        <description>Returns the application review&apos;s assigned user ID</description>
        <name>ReviewerId</name>
        <dataType>String</dataType>
        <expression>{!GetApplicationReview.AssignedUserId}</expression>
    </formulas>
    <interviewLabel>Grantmaking Share Application Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grantmaking Share Application Review</label>
    <loops>
        <description>Repeats actions for each individual application task record from Get Individual Application Task Share Records</description>
        <name>IterateOverIndividualApplicationTasks</name>
        <label>Iterate Over Individual Application Tasks</label>
        <locationX>336</locationX>
        <locationY>3314</locationY>
        <collectionReference>individualApplicationTaskIdsToShare</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetIndividualApplicationTaskShareRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateIndividualApplicationTaskShareRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions for each individual application task records in Individual Application Tasks from GetIndividualTask.</description>
        <name>IterateOverIndividualApplnTasks</name>
        <label>Iterate Over Individual Application Tasks</label>
        <locationX>336</locationX>
        <locationY>2306</locationY>
        <collectionReference>GetIndividualApplicationTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAcsblIndvApplnTaskIdstoCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetIndividualApplicationTaskShareRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions for each individual application task record shared with the reviewer from GetIndividualApplicationTaskShareRecords.</description>
        <name>IterateOverIndvApplnTaskShareRecords</name>
        <label>Iterate Over Individual Application Task Share Records</label>
        <locationX>336</locationX>
        <locationY>3014</locationY>
        <collectionReference>GetIndividualApplicationTaskShareRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RemoveSharedIndividualApplicationTasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterateOverIndividualApplicationTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions for each content document link record from Get Related Files Not Shared with External Users.</description>
        <name>IterateOverRelaFilesNotShrwithExtlUsers</name>
        <label>Iterate Over Related Files Not Shared with External Users</label>
        <locationX>204</locationX>
        <locationY>3938</locationY>
        <collectionReference>GetRelatedFilesNotSharedWithExternalUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetRelatedFilesShareRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccessToRelatedFilesForExternalUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an application share record, setting custom object access to Edit, the parent ID to the ID of the record from the Application Review from GetApplicationReview variable, row cause to Manual, and user/group ID to ReviewerId.</description>
        <name>CreateApplicationReviewShare</name>
        <label>Create Application Review Share</label>
        <locationX>204</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>GetIndividualApplication</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetApplicationReview.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationReviewShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a manual budget share record that gives read access to the reviewer.</description>
        <name>CreateBudgetShareRecord</name>
        <label>Create Budget Share Record</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>GetIndividualApplicationTasks</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetIndividualApplication.BudgetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </inputAssignments>
        <object>BudgetShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a manual, individual application share record that gives read access to the reviewer, setting custom object access to Read, the parent ID to the ID of the record from the Application Review from GetApplicationReview variable, row cause to Manual, and user/group ID to ReviewerId.</description>
        <name>CreateIndividualApplicationShareRecord</name>
        <label>Create Individual Application Share Record</label>
        <locationX>204</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>DoesRelatedBudgetRecordExist</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetIndividualApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplicationShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates individual application task share records in the IndividualApplicationTaskIdsToShare record collection.</description>
        <name>CreateIndividualApplicationTaskShareRecords</name>
        <label>Create Individual Application Task Share Records</label>
        <locationX>336</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>HaveExternalReviewer</targetReference>
        </connector>
        <inputReference>iaTaskShares</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the application review record with an ID matching recordId passed into the flow. Stores the ID, assigned user ID, application ID, and owner ID of the result in the Application Review from GetApplicationReview record variable.</description>
        <name>GetApplicationReview</name>
        <label>Get Application Review</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveReviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationReview</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedUserId</queriedFields>
        <queriedFields>ApplicationId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the individual application record with an ID matching the ID of the record from the Application Review from GetApplicationReview variable. Stores the ID, owner ID, and budget ID of the result in the Individual Application from GetIndividualApplication record variable.</description>
        <name>GetIndividualApplication</name>
        <label>Get Individual Application</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIndividualApplicationShareRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationReview.ApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>BudgetId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the individual application share record with a parent ID matching the ID from the Individual Application from GetIndividualApplication variable, a user/group ID matching ReviewerId, and a Manual row cause.</description>
        <name>GetIndividualApplicationShareRecord</name>
        <label>Get Individual Application Share Record</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddIndividualApplicationIdToCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIndividualApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplicationShare</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the individual application task records from GetIndividualApplication that are related to the individual application.</description>
        <name>GetIndividualApplicationTasks</name>
        <label>Get Individual Application Tasks</label>
        <locationX>336</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverIndividualApplnTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIndividualApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplicationTask</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets individual application task records that were manually shared to provide the reviewer access to the records.</description>
        <name>GetIndividualApplicationTaskShareRecords</name>
        <label>Get Individual Application Task Share Records</label>
        <locationX>336</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverIndvApplnTaskShareRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>individualApplicationTaskIdsToShare</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplicationTaskShare</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <sortField>ParentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the budget ID related to the individual application from GetIndividualApplication record variable. Stores the ID and owner ID of the result in the Individual Application from GetIndividualApplication record variable.</description>
        <name>GetRelatedBudget</name>
        <label>Get Related Budget</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedShare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIndividualApplication.BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Content Document Link records related to the application review that aren&apos;t shared with the external reviewer. Stores the results in the LinkedEntityIds collection.</description>
        <name>GetRelatedFilesNotSharedWithExternalUsers</name>
        <label>Get Related Files Not Shared with External Users</label>
        <locationX>204</locationX>
        <locationY>3830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverRelaFilesNotShrwithExtlUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>linkedEntityIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Visibility</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the record ID of the budget share from GetRelatedBudget record variable that gives manual share access to the reviewer. Stores the ID and owner ID of the result in the Individual Application from GetIndividualApplication record variable.</description>
        <name>GetRelatedShare</name>
        <label>Get Related Share</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddBudgetRecordIdToCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRelatedBudget.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BudgetShare</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the user record with an ID matching the ReviewerId value.</description>
        <name>GetReviewer</name>
        <label>Get Reviewer</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesApplicationReviewShareRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates ContentDocumentLinksToBeUpdated records related to the application review to give read access to the reviewer.</description>
        <name>UpdateAccessToRelatedFilesForExternalUsers</name>
        <label>Update Access to Related Files for External Users</label>
        <locationX>204</locationX>
        <locationY>4238</locationY>
        <inputReference>contentDocumentLinksToBeUpdated</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <sourceTemplate>grantmk__ShareApplicationReview</sourceTemplate>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetApplicationReview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A collection of content document link records to be updated, providing the external reviewer view access to the files.</description>
        <name>contentDocumentLinksToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>A singular representation of an individual application task share record</description>
        <name>iaTaskShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplicationTaskShare</objectType>
    </variables>
    <variables>
        <description>A collection of individual application task share records to be created giving read access to the reviewer</description>
        <name>iaTaskShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplicationTaskShare</objectType>
    </variables>
    <variables>
        <description>A collection of individual application task record IDs that require manual shares to give the reviewer read access to the records.</description>
        <name>individualApplicationTaskIdsToShare</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A collection of related record IDs, including application, budget, and application task, used to determine which files are accessible to the reviewer.</description>
        <name>linkedEntityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores application review record ID.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
