stDemoOne/force-app/main/default/flows/gps_Create_Grantmaking_Funding_Award_Disbursement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Funding_Award_Page</name>
        <label>Refresh Funding Award Page</label>
        <locationX>1020</locationX>
        <locationY>658</locationY>
        <actionName>c:SDO_Service_Flow_OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:SDO_Service_Flow_OpenSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>vMonthChoice</name>
        <choiceText>Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>vWeekChoice</name>
        <choiceText>Week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week</stringValue>
        </value>
    </choices>
    <choices>
        <name>vYearChoice</name>
        <choiceText>Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Year</stringValue>
        </value>
    </choices>
    <description>Creates a Funding Award Disbursement Schedule by Period, Week, Month or Year. Also creates the 2 reports for the Grantmaking Application.</description>
    <environments>Default</environments>
    <formulas>
        <name>Q1Date</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+30</expression>
    </formulas>
    <formulas>
        <name>q2date</name>
        <dataType>DateTime</dataType>
        <expression>{!Q1Date}+90</expression>
    </formulas>
    <formulas>
        <name>q3date</name>
        <dataType>DateTime</dataType>
        <expression>{!Q1Date}+180</expression>
    </formulas>
    <formulas>
        <name>q4date</name>
        <dataType>DateTime</dataType>
        <expression>{!Q1Date}+270</expression>
    </formulas>
    <formulas>
        <description>Calculated from the number of disbursements based on the schedule, ie Month, Week or Year</description>
        <name>vDisbursementAmountCalculated</name>
        <dataType>Currency</dataType>
        <expression>{!vAmount} / {!Number_of_Disbursements}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>vDisbursementNameMonthBuild</name>
        <dataType>String</dataType>
        <expression>{!Get_Funding_Award.Name} + &apos; - &apos; + &apos;Month - &apos; + TEXT( {!vDisbursementNumberDecrement})</expression>
    </formulas>
    <formulas>
        <name>vDisbursementNameWeekBuild</name>
        <dataType>String</dataType>
        <expression>{!Get_Funding_Award.Name} + &apos; - &apos; + &apos;Week - &apos; + TEXT( {!vDisbursementNumberDecrement})</expression>
    </formulas>
    <formulas>
        <name>vDisbursementNameYearBuild</name>
        <dataType>String</dataType>
        <expression>{!Get_Funding_Award.Name} + &apos; - &apos; + &apos;Year - &apos; + TEXT( {!vDisbursementNumberDecrement})</expression>
    </formulas>
    <formulas>
        <name>vDistributionMonthDateDecrement</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!vFirstDateTime},{!vDisbursementNumberDecrement} -1) +1</expression>
    </formulas>
    <formulas>
        <name>vDistributionWeekDateDecrement</name>
        <dataType>Date</dataType>
        <expression>{!vFirstDateTime} + (7 * ({!vDisbursementNumberDecrement}-1)) +1</expression>
    </formulas>
    <formulas>
        <name>vDistributionYearDateDecrement</name>
        <dataType>Date</dataType>
        <expression>{!vFirstDateTime} + (365 * ({!vDisbursementNumberDecrement} -1))+1</expression>
    </formulas>
    <interviewLabel>Create Grantmaking Funding Award Disbursement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Grantmaking Funding Award Disbursement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Funding_Award_Disbursements</name>
        <label>Create Funding Award Disbursements</label>
        <locationX>715</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Get_Disbursement_for_Scheduled</targetReference>
        </connector>
        <inputReference>vCreateFundingScheduleButton.Results.vFundingDisbursementRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Financial_Expenditure_Report</name>
        <label>Financial Expenditure Report</label>
        <locationX>866</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Refresh_Funding_Award_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value>
                <elementReference>Get_Funding_Award.IndividualApplication.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedUserId</field>
            <value>
                <elementReference>Get_Funding_Award.IndividualApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Provide a list of all the financial expenditures that have occurred for which you originally submitted budgets during the grant submission.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>q2date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingDisbursementId</field>
            <value>
                <elementReference>Get_Disbursement_for_Scheduled.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Proof of Expenditure Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Financial Report</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordCreates>
    <recordCreates>
        <name>Progress_Report</name>
        <label>Progress Report</label>
        <locationX>719</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Financial_Expenditure_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value>
                <elementReference>Get_Funding_Award.IndividualApplication.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedUserId</field>
            <value>
                <elementReference>Get_Funding_Award.IndividualApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Provide a written overview of how the funds have been used to attain their intended purpose.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>q4date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingDisbursementId</field>
            <value>
                <elementReference>Get_Disbursement_for_Scheduled.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Progress Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Narrative Report</stringValue>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordCreates>
    <recordLookups>
        <description>Get the Scheduled Disbursement for the Reports</description>
        <name>Get_Disbursement_for_Scheduled</name>
        <label>Get Disbursement for Scheduled</label>
        <locationX>716</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Progress_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>562</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Schedule_Disbursements</name>
        <label>Schedule Disbursements</label>
        <locationX>563</locationX>
        <locationY>316</locationY>
        <actions>
            <name>vCreateFundingScheduleButton</name>
            <actionName>gps_Create_Funding_Award_Disbursement_Schedule</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vDisbursmentAmount</name>
                <value>
                    <elementReference>vAmount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vFirstDate</name>
                <value>
                    <elementReference>vFirstDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vNumberofDisbursements</name>
                <value>
                    <elementReference>Number_of_Disbursements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vPeriod</name>
                <value>
                    <elementReference>Period</elementReference>
                </value>
            </inputParameters>
            <label>Create Funding Award Disbursement Schedule</label>
            <nameSegment>gps_Create_Funding_Award_Disbursement_Schedule</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Funding_Award_Disbursements</targetReference>
        </connector>
        <fields>
            <name>vScheduleDisbursementDisplay</name>
            <fieldText>&lt;h2&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Schedule Disbursements&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Disbursements_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Disbursements_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingRequestInfoTxt</name>
                    <fieldText>&lt;h3&gt;&lt;strong&gt;Funding Request Information&lt;/strong&gt;&lt;/h3&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Disbursements_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Disbursements_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vFWContractIdDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Applying Contact: {!Get_Funding_Award.ContractId}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>vAwardedAmountDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Awarded Amount: ${!Get_Funding_Award.gps_Awarded_Amount__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vPaidDisbursementDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Paid Disbursements: ${!Get_Funding_Award.gps_Paid_Disbursements__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>vAvailableForDisbursementDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Available for Disbursement:  $&lt;/span&gt;{!Get_Funding_Award.gps_Available_for_Disbursement__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>vNotEnoughFundsError</name>
            <fieldText>&lt;h4&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Resolve error&lt;/strong&gt;&lt;/h4&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(186, 5, 23); color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;There are not enough funds remaining to create disbursements.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Funding_Award.gps_Available_for_Disbursement__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Schedule_Disbursements_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Disbursements_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CalculateDisbursementTXT</name>
                    <fieldText>&lt;h3&gt;&lt;strong&gt;Calculate Disbursements&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Disbursements_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Disbursements_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Disbursements</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Disbursements</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vFirstDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>First Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Disbursements_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Disbursements_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Interval</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Interval</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Period</name>
                    <choiceReferences>vWeekChoice</choiceReferences>
                    <choiceReferences>vMonthChoice</choiceReferences>
                    <choiceReferences>vYearChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>vMonthChoice</defaultSelectedChoiceReference>
                    <fieldText>Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vAmount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.gps_Available_for_Disbursement__c</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>vActionCreateSchedule</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Calculate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>vCreateFundingScheduleButton.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inProgress</name>
                <value>
                    <elementReference>vCreateFundingScheduleButton.InProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>vCreateFundingScheduleButton.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Disbursements_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Disbursements_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vDisplaySchedule</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>FundingDisbursement</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Disbursement Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>vCreateFundingScheduleButton.Results.vFundingDisbursementRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;ScheduledDate&quot;,&quot;guid&quot;:&quot;column-7599&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Scheduled Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-e1da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Disbursements_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>vActionCreateSchedule</eventSource>
            <handlers>
                <screenActionName>vCreateFundingScheduleButton</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>436</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDisbursementNumberDecrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Number_of_Disbursements</elementReference>
        </value>
    </variables>
    <variables>
        <description>Default value is Scheduled. After the 1st time through, this will be updated to Pending Approval for the rest of the Disbursements.</description>
        <name>vDisbursementStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pending Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFundingDisbursementBuild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>vFundingDisbursementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
</Flow>
