stDemoOne/force-app/main/default/flows/GPS_IA_Approval_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_IA_for_approval</name>
        <label>Submit IA for approval</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>GPS_IA_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>GrantmakingRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grantmaking</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Grantmaking_IA</name>
        <label>If Grantmaking IA</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Submit_IA_for_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Record Type</defaultConnectorLabel>
        <rules>
            <name>Grantmaking_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grantmaking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRecordTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Insurance</stringValue>
                </rightValue>
            </conditions>
            <label>Grantmaking Record Type</label>
        </rules>
    </decisions>
    <description>submits individual applications for approval process GPS_IA_Approval_Process</description>
    <environments>Default</environments>
    <interviewLabel>GPS IA Approval Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS IA Approval Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Grantmaking_IA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>GetRecordTypeValue</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>FundingOpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetRecordTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
