stDemoOne/force-app/main/default/flows/gps_Get_Data_for_Score_Application_Prompt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Content_to_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Content to Prompt</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Posting Content: {!Get_Content_Section.Content}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Posting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Location_Information</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Location Information</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Location: {!Get_Location_Name.Name}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Used by Score Application Prompt to get detailed description and location of Recruitment Posting</description>
    <environments>Default</environments>
    <interviewLabel>GPS Get Data for Application Scoring Prompt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Get Data for Score Application Prompt</label>
    <loops>
        <name>Loop_Through_Content_Posting</name>
        <label>Loop Through Content Posting</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Recruitment_Content_Posting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Section</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Job_Position_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Content_Section</name>
        <label>Get Content Section</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Content_to_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Content_Posting.RecruitmentContentSection.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecruitmentContentSection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Job Position related to the Requisition</description>
        <name>Get_Job_Position_Id</name>
        <label>Get Job Position Id</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_Information_from_Job_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecruitmentRequisitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecruitmentPosting.RecruitmentRequisition.Id</elementReference>
            </value>
        </filters>
        <object>JobPstnRecruitmentRqs</object>
        <outputAssignments>
            <assignToReference>JobPositionId</assignToReference>
            <field>JobPositionId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Information_from_Job_Position</name>
        <label>Get Location Information from Job Position</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobPositionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Name</name>
        <label>Get Location Name</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Location_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location_Information_from_Job_Position.Location.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruitment_Content_Posting</name>
        <label>Get Recruitment Content Posting</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Content_Posting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecruitmentPostingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecruitmentPosting.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecruitmentPostingCntntSect</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Recruitment_Content_Posting</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>JobPositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecruitmentPosting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecruitmentPosting</objectType>
    </variables>
</Flow>
