stDemoOne/force-app/main/default/flows/gps_Sync_FundingAwardContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_FundingAwardContract</name>
        <label>Assign FundingAwardContract</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>FundingAwardContract.AwardeeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AwardeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingAwardContract.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.gps_ContractDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingAwardContract.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingAwardContract.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingAwardContract.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingAwardContract.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.gps_ContractName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CreateorUpdate_FWC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_CreateorUpdate_FWC</name>
        <label>Create or Update Funding Award Contract</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_FundingAwardContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New_FundingAwardContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FundingAwardContract.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FundingAwardContract</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Funding Award Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Funding Award Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FundingAwardContract</name>
        <label>Create FundingAwardContract</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>FundingAwardContract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_FundingAwardContract</name>
        <label>Get FundingAwardContract</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_FundingAwardContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>gps_FundingAwardContract__c</object>
        <outputReference>FundingAwardContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AwardeeId__c</queriedFields>
        <queriedFields>ParentId__c</queriedFields>
        <queriedFields>EndDate__c</queriedFields>
        <queriedFields>StartDate__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_FundingAwardContract</name>
        <label>Update FundingAwardContract</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputReference>FundingAwardContract</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FundingAwardContract</targetReference>
        </connector>
        <object>FundingAward</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FundingAwardContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_FundingAwardContract__c</objectType>
    </variables>
</Flow>
