stDemoOne/force-app/main/default/flows/gps_Create_Funding_Award_Disbursement_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>The Funding Disbursement Record must be last as it takes everything from the Build and puts into the Record Collection to be used later on the Display and eventually the Create.</description>
        <name>Build_Month_Disbursement</name>
        <label>Build Month Disbursement</label>
        <locationX>195</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.ScheduledDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDistributionMonthDateDecrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementAmountCalculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.FundingAwardId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.DisbursementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementNameMonthBuild</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vFundingDisbursementBuild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement_Number_of_Distributions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The Funding Disbursement Record must be last as it takes everything from the Build and puts into the Record Collection to be used later on the Display and eventually the Create.</description>
        <name>Build_Week_Disbursement</name>
        <label>Build Week Disbursement</label>
        <locationX>445</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.ScheduledDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDistributionWeekDateDecrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementAmountCalculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.FundingAwardId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.DisbursementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementNameWeekBuild</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vFundingDisbursementBuild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement_Number_of_Distributions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The Funding Disbursement Record must be last as it takes everything from the Build and puts into the Record Collection to be used later on the Display and eventually the Create.</description>
        <name>Build_Year_Disbursement</name>
        <label>Build Year Disbursement</label>
        <locationX>316</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.ScheduledDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDistributionYearDateDecrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementAmountCalculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.FundingAwardId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementBuild.DisbursementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDisbursementNameYearBuild</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingDisbursementRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vFundingDisbursementBuild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement_Number_of_Distributions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement_Number_of_Distributions</name>
        <label>Decrement Number of Distributions</label>
        <locationX>203</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>vDisbursementNumberDecrement</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disbursement_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Disbursement_Status</name>
        <label>Update Disbursement Status</label>
        <locationX>769</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>vDisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Disbursement_Type</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Sort the order for display purposes.</description>
        <name>Sort_Funding_Award_Distributions</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Funding Award Distributions</label>
        <locationX>1007</locationX>
        <locationY>242</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>vFundingDisbursementRecord</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ScheduledDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Set the Disbursement Status to Scheduled for the First Disbursement, while leaving the others to Pending Approval.</description>
        <name>Disbursement_Status_Check</name>
        <label>Disbursement Status Check</label>
        <locationX>515</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>Which_Disbursement_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDisbursementNumberDecrement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disbursement_Status</targetReference>
            </connector>
            <label>First Disbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Disbursement_Type</name>
        <label>Which Disbursement Type?</label>
        <locationX>638</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Sort_Funding_Award_Distributions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Week_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDisbursementNumberDecrement</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Week_Disbursement</targetReference>
            </connector>
            <label>Week Disbursement</label>
        </rules>
        <rules>
            <name>Month_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDisbursementNumberDecrement</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Month_Disbursement</targetReference>
            </connector>
            <label>Month Disbursement</label>
        </rules>
        <rules>
            <name>Year_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPeriod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Year</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDisbursementNumberDecrement</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Year_Disbursement</targetReference>
            </connector>
            <label>Year Disbursement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Calculated from the number of disbursements based on the schedule, ie Month, Week or Year</description>
        <name>vDisbursementAmountCalculated</name>
        <dataType>Currency</dataType>
        <expression>{!vDisbursmentAmount} / {!vNumberofDisbursements}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>vDisbursementNameMonthBuild</name>
        <dataType>String</dataType>
        <expression>{!Get_Funding_Award.Name} + &apos; - &apos; + &apos;Month - &apos; + TEXT( {!vDisbursementNumberDecrement})</expression>
    </formulas>
    <formulas>
        <name>vDisbursementNameWeekBuild</name>
        <dataType>String</dataType>
        <expression>{!Get_Funding_Award.Name} + &apos; - &apos; + &apos;Week - &apos; + TEXT( {!vDisbursementNumberDecrement})</expression>
    </formulas>
    <formulas>
        <name>vDisbursementNameYearBuild</name>
        <dataType>String</dataType>
        <expression>{!Get_Funding_Award.Name} + &apos; - &apos; + &apos;Year - &apos; + TEXT( {!vDisbursementNumberDecrement})</expression>
    </formulas>
    <formulas>
        <name>vDistributionMonthDateDecrement</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!vFirstDate},{!vDisbursementNumberDecrement} -1) +1</expression>
    </formulas>
    <formulas>
        <name>vDistributionWeekDateDecrement</name>
        <dataType>Date</dataType>
        <expression>{!vFirstDate} + (7 * ({!vDisbursementNumberDecrement}-1)) +1</expression>
    </formulas>
    <formulas>
        <name>vDistributionYearDateDecrement</name>
        <dataType>Date</dataType>
        <expression>{!vFirstDate} + (365 * ({!vDisbursementNumberDecrement} -1))+1</expression>
    </formulas>
    <interviewLabel>Create Funding Award Disbursement Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Funding Award Disbursement Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>646</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Disbursement_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>127</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDisbursementNumberDecrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>vNumberofDisbursements</elementReference>
        </value>
    </variables>
    <variables>
        <description>The value for the first Disbursement is Pending Approval. However, after the 1st time through, this will be updated to Scheduled in an Assign for the rest of the Disbursements.</description>
        <name>vDisbursementStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pending Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>vDisbursmentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vFirstDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFundingDisbursementBuild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <description>Used to return the Disbursement Record.</description>
        <name>vFundingDisbursementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>vNumberofDisbursements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The Disbursement Period, Week, Month or Year.</description>
        <name>vPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
