stDemoOne/force-app/main/default/flows/gps_Grantmaking_Progress_Report_3_Impact_and_Outcomes_READ_ONLY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Ahead_of_Schedule</name>
        <choiceText>Ahead of Schedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ahead of Schedule</stringValue>
        </value>
    </choices>
    <choices>
        <name>Behind_Schedule</name>
        <choiceText>Behind Schedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Behind Schedule</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_Track</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;On Track&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Track</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Grantmaking Progress Report: 3 Impact and Outcomes READ ONLY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grantmaking Progress Report: 3 Impact and Outcomes READ ONLY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Funding_Award_Requirement_Section_Record</name>
        <label>Get Funding Award Requirement Section Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Impact_and_Outcomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardRqmtSection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Impact_and_Outcomes</name>
        <label>Impact and Outcomes</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImpactOutcomes_ReadOnlyResponses</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Describe any significant outcomes or impacts achieved by the project so far.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Increased healthcare access for 5,000+ people, reduced preventable diseases by 15%, improved health literacy.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;What challenges or obstacles have you encountered, and how have you addressed them?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Initial community resistance addressed by engaging local leaders; logistical issues solved with local transport partnerships.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;What are the next steps and key milestones for the upcoming reporting period?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Expand screenings, launch mobile clinic, increase workshops. Key milestones: mobile clinic by Q1 2025, reach 3,000 more people.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Funding_Award_Requirement_Section_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
