stDemoOne/force-app/main/default/flows/gps_GrantsApplicationCreateAppReviews.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Grantmaking_IA</name>
        <label>If Grantmaking IA</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Grantmaking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordTypeVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grantmaking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_App_Review_Completed</targetReference>
            </connector>
            <label>If Grantmaking IA</label>
        </rules>
    </decisions>
    <description>After a Grantmaking IA is created, two App Review records are created, one that is Completed and due today, and one that is Not Started and is due in a week.</description>
    <environments>Default</environments>
    <formulas>
        <name>WeekAhead</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Grant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grants Application Create App Reviews</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a completed app review for the current date</description>
        <name>Create_App_Review_Completed</name>
        <label>Create App Review Completed</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_App_Review_Not_Started</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationRecommendation</field>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationStageDefinitionId</field>
            <value>
                <elementReference>varStageDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment</field>
            <value>
                <stringValue>Recommended based on review of submitted documents.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSubmitted</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gps_Application_Score__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>ApplicationReview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an App Review record that is due in a week and not started</description>
        <name>Create_App_Review_Not_Started</name>
        <label>Create App Review Not Started</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ApplicationId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationStageDefinitionId</field>
            <value>
                <elementReference>varStageDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>WeekAhead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationReview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Stage_Definition</name>
        <label>Get Application Stage Definition</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Grantmaking_IA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Review Scorecard</stringValue>
            </value>
        </filters>
        <object>ApplicationStageDefinition</object>
        <outputAssignments>
            <assignToReference>varStageDefinition</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Stage_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>GetRecordTypeVariable</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>IndividualApplication</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GetRecordTypeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStageDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>varStageDefinition</stringValue>
        </value>
    </variables>
</Flow>
