stDemoOne/force-app/main/default/flows/Grantmaking_Apply_for_Funding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>BudgetName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Example Budget Esmond</stringValue>
        </value>
    </constants>
    <decisions>
        <name>eiligibilityResults</name>
        <label>eiligibilityResults</label>
        <locationX>694</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>EligibilityAssessmentOutcomeFailText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_meet_the_stated_organizational_or_individual_applicant_requirements_for_t</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_your_organization_have_a_non_discrimination_policy_that_ensures_it_does_not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_have_any_active_awards_with_open_or_unresolved_compliance_notices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenEnterOrConfirmAccount</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewIndividualApplicationLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varNewIndividualApplication}</expression>
    </formulas>
    <interviewLabel>Grantmaking: Apply for Funding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grantmaking: Apply for Funding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an Budget based on Budget Template of the Funding Opportunity</description>
        <name>Create_Budget_Name_Framework</name>
        <label>Create Budget Name Framework</label>
        <locationX>298</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>CreateIndividualApplication</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>FY25 CDI Budget</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </inputAssignments>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an action plan that’s associated with the individual application. The action plan then generates the associated individual application tasks. The action plan’s required fields are populated based on information on the funding opportunity’s related action plan template.

Make sure that the site user has access to action plan templates and application stage definitions.</description>
        <name>CreateActionPlan</name>
        <label>Create Action Plan</label>
        <locationX>298</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>GoToIndividualApplicationRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUsingHolidayHours</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetActionPlanTemplateVersion.ActionPlanTemplate.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>varNewIndividualApplication</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an individual application record related to the funding opportunity for this applicant. The individual application is populated with the applicant’s contact and account information and sets the application status to In Progress.

Important: add RecordTypeID as a field and set it to the Grantmaking record type that your admin set up in your org.</description>
        <name>CreateIndividualApplication</name>
        <label>Create Individual Application</label>
        <locationX>298</locationX>
        <locationY>1046</locationY>
        <assignRecordIdToReference>varNewIndividualApplication</assignRecordIdToReference>
        <connector>
            <targetReference>CreateActionPlan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateIndividualApplicationError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppliedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetId</field>
            <value>
                <elementReference>Create_Budget_Name_Framework</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Grant Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetSiteUserContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingOpportunityId</field>
            <value>
                <elementReference>GetFundingOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalStatus</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Grantmaking_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Template_for_Funding_Opportunity</name>
        <label>Get Budget Template for Funding Opportunity</label>
        <locationX>694</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligibility_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Budget_Template_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFundingOpportunity.BudgetTemplate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grantmaking_Record_Type</name>
        <label>Get Grantmaking Record Type</label>
        <locationX>337</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSiteUserContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grantmaking</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the action plan template version associated with the funding opportunity with a status of Final. Based on the action plan template, the flow creates an action plan for this application.

Add Get elements for other records to help to calculate values and populate the individual application for the applicant.</description>
        <name>GetActionPlanTemplateVersion</name>
        <label>Get Action Plan Template Version</label>
        <locationX>694</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget_Template_for_Funding_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GetActionPlanTemplate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFundingOpportunity.ActionPlanTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the funding opportunity record that matches the recordId that&apos;s passed into the flow. 

Add a Decision element to handle when a funding opportunity is missing the lookup to action plan template version.</description>
        <name>GetFundingOpportunity</name>
        <label>Get Funding Opportunity</label>
        <locationX>721</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grantmaking_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GetFundingOpptyError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the site user&apos;s contact ID, if they have one. The flow later enters details related to this contact for Individual application. The element doesn&apos;t work for CRM users.

Add Get elements for other records to help populate the individual application for the applicant.</description>
        <name>GetSiteUserContact</name>
        <label>Get Site User Contact</label>
        <locationX>481</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActionPlanTemplateVersion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorGettingContactInfo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateIndividualApplicationError</name>
        <label>CreateIndividualApplicationError</label>
        <locationX>826</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>CreateIndividualApplicationDisplayText</name>
            <fieldText>&lt;p&gt;Issue trying to create individual application record step&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eligibility_Assessment</name>
        <label>Eligibility Assessment</label>
        <locationX>694</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>eiligibilityResults</targetReference>
        </connector>
        <fields>
            <name>EligibilityTest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Thank you for your interest in {!GetFundingOpportunity.Name}. Please complete all the questions below in order to determine your eligibility to apply.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_meet_the_stated_organizational_or_individual_applicant_requirements_for_t</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Do you meet the stated organizational or individual applicant requirements for this program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Does_your_organization_have_a_non_discrimination_policy_that_ensures_it_does_not</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Does your organization have a non-discrimination policy that ensures it does not discriminate based on race, ethnicity, color, sex, religion, age, national origin, ancestry, citizenship, sexual orientation, gender identity and/or expression, or disability?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_any_active_awards_with_open_or_unresolved_compliance_notices</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you have any active awards with open or unresolved compliance notices?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EligibilityAssessmentOutcomeFailText</name>
        <label>EligibilityAssessmentOutcomeFailText</label>
        <locationX>1090</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eligibilityAssessmentFailText</name>
            <fieldText>&lt;p&gt;Thank you for exploring the funding opportunity for &lt;strong&gt;{!GetFundingOpportunity.Name}&lt;/strong&gt;. Based on your responses to the eligibility quiz, you &lt;strong&gt;do not currently qualify&lt;/strong&gt; for funding for this opportunity. Please click here to find out more about what kinds of requests that we do not generally support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please browse our other active funding opportunities.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click here to return to the home page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorGettingContactInfo</name>
        <label>ErrorGettingContactInfo</label>
        <locationX>1882</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;Get Site User Contact Step Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetActionPlanTemplate</name>
        <label>GetActionPlanTemplate</label>
        <locationX>1618</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>DisplaytextActionPlanTemplate</name>
            <fieldText>&lt;p&gt;Issue connecting Action Plan Template Step&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetFundingOpptyError</name>
        <label>GetFundingOpptyError</label>
        <locationX>2146</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>ErrorScreenApplyforFundingOppty</name>
            <fieldText>&lt;p&gt;Something went wrong with the Apply for Funding Opportunity Step&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen has a link to the applicant’s individual application that was created by this flow.

Consider replacing this link with a local action that instead takes the applicant directly to the new individual application.</description>
        <name>GoToIndividualApplicationRecord</name>
        <label>Go to Individual Application Record</label>
        <locationX>298</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DemoNoteforSEs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Congratulations! You&apos;ve taken the first step towards submitting your application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To finish and submit, click on &lt;/span&gt;&lt;a href=&quot;{!NewIndividualApplicationLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Application home page&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Budget_Template_Found</name>
        <label>No Budget Template Found</label>
        <locationX>1354</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CoudNotFindBudgetTemplate</name>
            <fieldText>&lt;p&gt;We could not create records because we could not find a Budget Template associated with this Funding Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user.

This generic error is used throughout the flow template. Add other Decision elements or Error screens to detail specific failure reasons, ways to fix the issues, or how to contact your organization for help.

Keep in mind the pause button is hidden on this screen. When something goes wrong, the user needs to restart the flow from the beginning.</description>
        <name>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</name>
        <label>Display Error</label>
        <locationX>562</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateIndividualApplicationOrActionPlanErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Final Step, Something went wrong and we can’t create your application. Try applying again or contact us for help.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Prompts the flow user to confirm or enter the account that’s applying for funding. Add additional fields for the individual application as needed.

This is the last screen before the user is redirected to the individual application. Consider adding elements to configure the new application record before the user is sent to the application. For example, add flow elements for Compliant Data Sharing participant records so the applicant can collaborate with others.

Keep in mind the pause button is hidden on this screen. When something goes wrong, the user needs to restart the flow from the beginning.</description>
        <name>ScreenEnterOrConfirmAccount</name>
        <label>Enter or Confirm Account</label>
        <locationX>298</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Budget_Name_Framework</targetReference>
        </connector>
        <fields>
            <name>Verify_Organization_Contact_Information</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Verify (or search) Your Organization and Primary Applicant Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organization Applying for Funding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetSiteUserContact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IndividualApplication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact for Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IndividualApplication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetSiteUserContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>grantmk__ApplyForFundingOpportunity</sourceTemplate>
    <start>
        <locationX>568</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetFundingOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This hyperlink sends users to their new individual application.</description>
        <name>HyperlinkToIndividualApplication</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;a href=&quot;/{!CreateIndividualApplication}&quot; target=&quot;_self&quot;&gt;Go to your application&lt;/a&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BudgetNameResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FY24 Esmond Budget</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the funding opportunity record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Newly created Individual Application Id</description>
        <name>varNewIndividualApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
