stDemoOne/force-app/main/default/flows/SDO_SFS_Maintenance_Plan_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Maintenance_Plan</name>
        <label>Open Maintenance Plan</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>MaintainenacePlanRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_MP_to_MPA</name>
        <label>Assign MP to MPA</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>MaintenanceAssetRec.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintainenacePlanRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_MPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MP_Values</name>
        <label>Assign MP Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>MaintainenacePlanRec.GenerationTimeframe</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintainenacePlanRec.GenerationTimeframeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintainenacePlanRec.MaintenancePlanTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preventive Maintenance Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintainenacePlanRec.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintainenacePlanRec.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MP_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MWR_Values</name>
        <label>Assign MWR Values</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>MaintenanceWorkRule.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MWR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceWorkRule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calendar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceWorkRule.RecurrencePattern</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FREQ=MONTHLY;BYMONTHDAY=5;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceWorkRule.ParentMaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintainenacePlanRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceWorkRule.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_MWR</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SDO SFS Maint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS Maintenance Plan Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MP</name>
        <label>Create MP</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_MP_to_MPA</targetReference>
        </connector>
        <inputReference>MaintainenacePlanRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MPA</name>
        <label>Create MPA</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_MWR_Values</targetReference>
        </connector>
        <inputReference>MaintenanceAssetRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MWR</name>
        <label>Create MWR</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Open_Maintenance_Plan</targetReference>
        </connector>
        <inputReference>MaintenanceWorkRule</inputReference>
    </recordCreates>
    <screens>
        <name>MP_Creation</name>
        <label>MP Creation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_MP</targetReference>
        </connector>
        <fields>
            <name>Maintenance_Plan_Details</name>
            <fieldText>Maintenance Plan Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.MaintenancePlanTitle</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.StartDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.NextSuggestedMaintenanceDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.GenerationTimeframe</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.GenerationTimeframeType</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Maintenance_Plan_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.AccountId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.ContactId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.WorkTypeId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintainenacePlanRec.ServiceContractId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MaintenanceAssetDetails</name>
            <fieldText>Maintenance Asset Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MaintenanceAssetDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintenanceAssetRec.AssetId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MaintenanceAssetDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MaintenanceAssetRec.ContractLineItemId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_MP_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MaintainenacePlanRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>MaintenanceAssetRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>MaintenanceWorkRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceWorkRule</objectType>
    </variables>
</Flow>
