stDemoOne/force-app/main/default/flows/SDO_SFS_AA_Create_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>EnRouteOrLasMile</name>
        <label>EnRouteOrLasMile</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EnRoute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDO_SFS_AA_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EnRoute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEnRoutePlatformEvent</targetReference>
            </connector>
            <label>EnRoute</label>
        </rules>
        <rules>
            <name>LastMile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDO_SFS_AA_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LastMile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLastMilePlatformEvent</targetReference>
            </connector>
            <label>LastMile</label>
        </rules>
    </decisions>
    <description>LWC AA work around flow</description>
    <environments>Default</environments>
    <interviewLabel>SDO SFS AA Create Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS AA Create Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEnRoutePlatformEvent</name>
        <label>CreateEnRoutePlatformEvent</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AssignedResourceId</field>
            <value>
                <elementReference>GetAssignedResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedResourceLat</field>
            <value>
                <elementReference>ServiceResource.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedResourceLong</field>
            <value>
                <elementReference>ServiceResource.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationStatus</field>
            <value>
                <stringValue>EnRoute</stringValue>
            </value>
        </inputAssignments>
        <object>AsgnResourceLocUpdateEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateLastMilePlatformEvent</name>
        <label>CreateLastMilePlatformEvent</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AssignedResourceId</field>
            <value>
                <elementReference>GetAssignedResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedResourceLat</field>
            <value>
                <elementReference>ServiceResource.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedResourceLong</field>
            <value>
                <elementReference>ServiceResource.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationStatus</field>
            <value>
                <stringValue>LastMile</stringValue>
            </value>
        </inputAssignments>
        <object>AsgnResourceLocUpdateEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAssignedResource</name>
        <label>GetAssignedResource</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSLDemoTools_Service_Resource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ServiceResource</name>
        <label>ServiceResource</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnRouteOrLasMile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSLDemoTools_Service_Resource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAssignedResource</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>SDO_SFS_AA_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EnRoute</stringValue>
            </value>
        </filters>
        <filters>
            <field>SDO_SFS_AA_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LastMile</stringValue>
            </value>
        </filters>
        <filters>
            <field>SDO_SFS_AA_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
