stDemoOne/force-app/main/default/flows/SDO_OMS_Swap_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Replacement_Items</name>
        <label>Add Replacement Items</label>
        <locationX>3174</locationX>
        <locationY>10166</locationY>
        <actionName>addOrderItemSummarySubmit</actionName>
        <actionType>addOrderItemSummarySubmit</actionType>
        <connector>
            <targetReference>Current_Stage_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>addOrderItemSummaryInput</name>
            <value>
                <elementReference>AddOrderItemSummariesInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addOrderItemSummarySubmit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Original_Products</name>
        <label>Cancel Original Products</label>
        <locationX>3174</locationX>
        <locationY>5102</locationY>
        <actionName>cancelOrderItemSummariesSubmit</actionName>
        <actionType>cancelOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Get_Canceled_Delivery_Charge</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>ChangeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelOrderItemSummariesSubmit</nameSegment>
        <outputParameters>
            <assignToReference>SubmitCancelOutputRepresentation</assignToReference>
            <name>submitCancelOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Active_Stages_Multiple_Location_Groups</name>
        <label>Active Stages</label>
        <locationX>5154</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Products_To_Exchange_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Replacement_Products_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Webstore_and_Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Multiple_Webstores</name>
        <label>Active Stages</label>
        <locationX>3174</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Webstore_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Products_To_Exchange_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Replacement_Products_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Webstore_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Webstore_and_Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Multiple_Webstores_And_Location_Groups</name>
        <label>Active Stages</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Webstore_And_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Products_To_Exchange_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Replacement_Products_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Webstore_And_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Webstore_and_Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Single</name>
        <label>Active Stages</label>
        <locationX>5506</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Products_To_Exchange_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Replacement_Products_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Replacement_Item_Input</name>
        <label>Add Replacement Item Input</label>
        <locationX>3526</locationX>
        <locationY>9782</locationY>
        <assignmentItems>
            <assignToReference>AddItem.orderItemSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddItem.orderItemAdjustmentLineSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddItemAdjustmentList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddItem.orderItemTaxLineItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderItemTaxLineItemSummaryRepresentationList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddItem.reasonCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_Replacement_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Replacement_Item_Input_List</name>
        <label>Add Replacement Item Input List</label>
        <locationX>3526</locationX>
        <locationY>9890</locationY>
        <assignmentItems>
            <assignToReference>AddOrderItemSummariesInputRepresentation.newItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Replacement_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Change_Item_Input</name>
        <label>Change Item Input</label>
        <locationX>3262</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>ChangeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Product_Inputs_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Product_Inputs_Loop.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Product_Inputs_Loop.shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Product_Inputs_Loop.reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Change_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Change_Item_Input_List</name>
        <label>Change Item Input List</label>
        <locationX>3262</locationX>
        <locationY>4826</locationY>
        <assignmentItems>
            <assignToReference>ChangeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChangeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_Product_Inputs_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failure_Error_Message</name>
        <label>Failure Error Message</label>
        <locationX>3702</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initialized_Inputs</name>
        <label>Initialized Inputs</label>
        <locationX>3526</locationX>
        <locationY>6158</locationY>
        <assignmentItems>
            <assignToReference>tempPriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temporaryProduct2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.productId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initialized_Order_Item_Adjustment_List</name>
        <label>Initialized Order Item Adjustment List</label>
        <locationX>3526</locationX>
        <locationY>8102</locationY>
        <assignmentItems>
            <assignToReference>AddItemAdjustmentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConstAddItemAdjustmentEmptyList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initialized_Order_Item_Adjustment_Summary_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initialized_Order_Item_Adjustment_Summary_Input_List</name>
        <label>Initialized Order Item Adjustment Summary Input List</label>
        <locationX>3526</locationX>
        <locationY>8210</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentLineItemSummaryRepresentationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constOrderItemAdjustmentLineItemSummaryEmptyList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Item_Adjustments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initialized_Order_Item_Adjustment_Tax_Summary_Input_List</name>
        <label>Initialized Order Item Adjustment Tax Summary Input List</label>
        <locationX>3702</locationX>
        <locationY>8750</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummaryRepresentationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constOrderItemTaxLineItemSummaryEmptyList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_Item_Adjustment_Summary_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initialized_Order_Item_Tax_List</name>
        <label>Initialized Order Item Tax List</label>
        <locationX>3526</locationX>
        <locationY>7478</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummaryRepresentationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constOrderItemTaxLineItemSummaryEmptyList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Unadjusted_Order_Item_Taxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Single_Delivery_Group</name>
        <label>Is Single Delivery Group</label>
        <locationX>3218</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>singleDeliveryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Delivery_Group_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Adjustment_With_Tax</name>
        <label>Item Adjustment With Tax</label>
        <locationX>3702</locationX>
        <locationY>9482</locationY>
        <assignmentItems>
            <assignToReference>AddItemAdjustment.orderItemAdjustmentLineSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderItemAdjustmentLineItemSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddItemAdjustment.orderItemTaxLineItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderItemAdjustmentTaxLineItemSummaryRepresentationList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Item_Adjustment_With_Tax_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Adjustment_With_Tax_List</name>
        <label>Item Adjustment With Tax List</label>
        <locationX>3702</locationX>
        <locationY>9590</locationY>
        <assignmentItems>
            <assignToReference>AddItemAdjustmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddItemAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Adjustments_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Group_Count</name>
        <label>Location Group Count</label>
        <locationX>3174</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>locationGroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Location_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Webstores_Or_Multiple_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Group_Multiple_Webstores</name>
        <label>Location Group</label>
        <locationX>3262</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>selectedLocationGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Group_Loop_Multiple_Webstores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group_Loop_Multiple_Webstores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Group_Single</name>
        <label>Location Group</label>
        <locationX>5594</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>selectedLocationGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Group_Loop_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group_Loop_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Location_Groups_Error_Message</name>
        <label>No Location Groups Error Message</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessageImage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_No_Location_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Location_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Order_Delivery_Groups_Error_Message</name>
        <label>No Order Delivery Groups Error Message</label>
        <locationX>3482</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Delivery_Groups_To_Exchange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_No_Delivery_Groups_To_Exchange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Items_To_Exchange_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Delivery_Group_List</name>
        <label>Order Delivery Group List</label>
        <locationX>3262</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>availableOrderDeliveryGroupSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberAvailableOrderDeliveryGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Delivery_Group_Summaries_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_Adjustment_Summary_Input</name>
        <label>Order Item Adjustment Summary Input</label>
        <locationX>3702</locationX>
        <locationY>8642</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentLineItemSummary.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signChangedOrderItemAdjustmentLineSummaryAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentLineItemSummary.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Adjustments_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentLineItemSummary.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentLineItemSummary.OrderAdjustmentGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Adjustment_Summary.OrderAdjustmentGroupSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initialized_Order_Item_Adjustment_Tax_Summary_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_Adjustment_Summary_Input_List</name>
        <label>Order Item Adjustment Summary Input List</label>
        <locationX>3702</locationX>
        <locationY>8858</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentLineItemSummaryRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOrderItemAdjustmentLineItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Item_Adjustment_Taxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_Adjustment_Tax_Summary_Input</name>
        <label>Order Item Adjustment Tax Summary Input</label>
        <locationX>3790</locationX>
        <locationY>9182</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummary.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummary.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signChangedOrderItemAdjustmentTaxLineAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummary.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Adjustment_Taxes_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummary.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummary.TaxEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Adjustment_Taxes_Loop.TaxEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_Item_Adjustment_Tax_Summary_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_Adjustment_Tax_Summary_Input_List</name>
        <label>Order Item Adjustment Tax Summary Input List</label>
        <locationX>3790</locationX>
        <locationY>9290</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemAdjustmentTaxLineItemSummaryRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOrderItemAdjustmentTaxLineItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Adjustment_Taxes_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_Tax_Input</name>
        <label>Order Item Tax Input</label>
        <locationX>3614</locationX>
        <locationY>7802</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummary.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummary.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signChangedOrderItemTaxLineItemAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummary.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummary.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unadjusted_Order_Item_Tax_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummary.TaxEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unadjusted_Order_Item_Tax_Loop.TaxEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_Item_Tax_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_Tax_Input_List</name>
        <label>Order Item Tax Input List</label>
        <locationX>3614</locationX>
        <locationY>7910</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemTaxLineItemSummaryRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOrderItemTaxLineItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unadjusted_Order_Item_Tax_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Product_Input</name>
        <label>Original Product Input</label>
        <locationX>3262</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>ExchangeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Products_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.isExchangeable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.exchangeGrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Products_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.replacementProductDisplayDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Product_Default_Display_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExchangeItem.originalOrderItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Products_Loop.OriginalOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Original_Product_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Product_Input_List</name>
        <label>Original Product Input List</label>
        <locationX>3262</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>ExchangeItemsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExchangeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Replacement_Delivery_Charge</name>
        <label>Replacement Delivery Charge</label>
        <locationX>2778</locationX>
        <locationY>5642</locationY>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productSku</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Charge.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.Product2.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.actualGrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.exchangeGrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signChangeShippingQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.originalOrderItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.RelatedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.isExchangeable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Charge_Change.Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Charge.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingExchangeItem.productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Replacement_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Replacement_Item_Input</name>
        <label>Replacement Item Input</label>
        <locationX>3526</locationX>
        <locationY>7370</locationY>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>temporaryProduct2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.exchangeGrossUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.ReservedAtLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedLocationGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.OrderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempPriceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.productListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signChangeTotalLineAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.productName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Change_Order_Item.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOrderItemSummary.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Replacement_Items_Loop.productName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initialized_Order_Item_Tax_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Order_Delivery_Group</name>
        <label>Selected Order Delivery Group</label>
        <locationX>3306</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Delivery_Group_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Delivery_Group_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Count</name>
        <label>Webstore Count</label>
        <locationX>4043</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>webstoreCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Webstores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Use_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Multiple_Location_Groups</name>
        <label>Webstore</label>
        <locationX>5242</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstore_Loop_Multiple_Location_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstore_Loop_Multiple_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Single</name>
        <label>Webstore</label>
        <locationX>5594</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstore_Loop_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstore_Loop_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Without_Location_Groups</name>
        <label>Webstore</label>
        <locationX>6474</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstores_Loop_Without_Location_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstores_Loop_Without_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Confirmation</name>
        <label>Update Current Stage</label>
        <locationX>3174</locationX>
        <locationY>10274</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Select_Delivery_Group</name>
        <label>Update Current Stage</label>
        <locationX>2866</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Delivery_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Delivery_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Select_Products</name>
        <label>Update Current Stage</label>
        <locationX>3174</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Products_To_Exchange_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Products_to_Exchange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Select_Products_Remove_Delivery_Group</name>
        <label>Update Current Stage; Remove Delivery Group Stage</label>
        <locationX>3218</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Products_To_Exchange_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>Delivery_Group_Stage_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Select_Replacement_Products</name>
        <label>Update Current Stage</label>
        <locationX>3174</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Replacement_Products_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>3746</locationX>
        <locationY>10274</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_WebStores_Error_Message</name>
        <label>No WebStores Error Message</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_No_Webstore_Fault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_No_Webstore_Fault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Replacement_Item_List</name>
        <label>Replacement Item List</label>
        <locationX>2778</locationX>
        <locationY>5750</locationY>
        <assignmentItems>
            <assignToReference>ExchangeItemsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShippingExchangeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Replacement_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Optional_Pricebook_from_Order</name>
        <label>Set Optional Pricebook from Order</label>
        <locationX>2310</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Webstores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Optional_Pricebook_from_OrderSummary</name>
        <label>Set Optional Pricebook from OrderSummary</label>
        <locationX>2046</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Webstores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unmanaged_Order_Error_Message</name>
        <label>Unmanaged Order Error Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Delivery_Group_Stage_Number</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_No_Items_To_Exchange_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Canceled_Delivery_Charge</name>
        <label>Any Canceled Delivery Charge?</label>
        <locationX>3174</locationX>
        <locationY>5318</locationY>
        <defaultConnector>
            <targetReference>Replacement_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Any_Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Canceled_Delivery_Charge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Delivery_Charge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Location_Groups</name>
        <label>Any Location Groups?</label>
        <locationX>1876</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Assign_Location_Group_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Any_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_Location_Groups_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Order_Delivery_Groups</name>
        <label>Any Order Delivery Groups?</label>
        <locationX>3174</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Order_Delivery_Groups_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Multiple_Delivery_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>availableOrderDeliveryGroupSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Stage_Select_Delivery_Group</targetReference>
            </connector>
            <label>Multiple</label>
        </rules>
        <rules>
            <name>One_Delivery_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Single_Delivery_Group</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Order_Products</name>
        <label>Any Order Products?</label>
        <locationX>3394</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Order_Delivery_Group_Summaries_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Any_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Delivery_Group_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Webstores</name>
        <label>Any Webstores?</label>
        <locationX>2178</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Assign_Webstore_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Any_Webstores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Webstores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_WebStores_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Webstores_Or_Multiple_Location_Groups</name>
        <label>Multiple Webstores or Multiple Location Groups?</label>
        <locationX>3174</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Webstore_Loop_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Multiple_Webstores_and_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationGroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_Multiple_Webstores_And_Location_Groups</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Multiple_Webstores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationGroupCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Group_Loop_Multiple_Webstores</targetReference>
            </connector>
            <label>Multiple Webstores</label>
        </rules>
        <rules>
            <name>Multiple_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationGroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Webstore_Loop_Multiple_Location_Groups</targetReference>
            </connector>
            <label>Multiple Location Groups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Webstores_Without_Location_Groups</name>
        <label>Multiple Webstores?</label>
        <locationX>6210</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Webstores_Loop_Without_Location_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Multiple_Webstores_Without_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Active_Stages_Multiple_Webstores</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Summary_Has_Pricebooks</name>
        <label>Order Summary Has Pricebooks?</label>
        <locationX>2178</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Order_Summary_Has_Pricebooks_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Optional_Pricebook_from_OrderSummary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Summary_Type</name>
        <label>Order Summary Type?</label>
        <locationX>3458</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Unmanaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged</label>
        </rules>
        <rules>
            <name>Managed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Summary_Has_Pricebooks</targetReference>
            </connector>
            <label>Managed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Entry_Found</name>
        <label>Pricebook Entry Found?</label>
        <locationX>3746</locationX>
        <locationY>6830</locationY>
        <defaultConnector>
            <targetReference>Get_Change_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Price_Book_Entry_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>tempPriceBookEntryId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricebook_Entry</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Exists</name>
        <label>Pricebook Exists?</label>
        <locationX>3526</locationX>
        <locationY>6614</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Order_Summary_Has_PriceBook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Change_Order_Item</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exchangeable</name>
        <label>Product Exchangeable?</label>
        <locationX>3394</locationX>
        <locationY>4610</locationY>
        <defaultConnector>
            <targetReference>Original_Product_Inputs_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Exchangeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_Product_Inputs_Loop.isExchangeable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Change_Item_Input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exist</name>
        <label>Product Exist?</label>
        <locationX>3526</locationX>
        <locationY>6266</locationY>
        <defaultConnector>
            <targetReference>Pricebook_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>temporaryProduct2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Replacement_Item_Exchangeable</name>
        <label>Replacement Item Exchangeable?</label>
        <locationX>4252</locationX>
        <locationY>6050</locationY>
        <defaultConnector>
            <targetReference>Replacement_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Replacement_Item_Exchangeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Replacement_Items_Loop.isExchangeable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initialized_Inputs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Location_Groups</name>
        <label>Use Location Groups?</label>
        <locationX>4043</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Multiple_Webstores_Without_Location_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Use_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useLocationGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Bill Macaulay 9/24 Copy of Even Exchange template flow</description>
    <dynamicChoiceSets>
        <name>Location_Group_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>LocationGroupName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LocationGroup</object>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.ExternalReference</assignToReference>
            <field>ExternalReference</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.LocationGroupName</assignToReference>
            <field>LocationGroupName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.ShouldSyncWithOci</assignToReference>
            <field>ShouldSyncWithOci</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Webstore_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2CE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B</stringValue>
            </value>
        </filters>
        <object>WebStore</object>
        <outputAssignments>
            <assignToReference>selectedWebstore.DefaultTaxLocaleType</assignToReference>
            <field>DefaultTaxLocaleType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedWebstore.ExternalReference</assignToReference>
            <field>ExternalReference</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedWebstore.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedWebstore.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedWebstore.Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>signChangedOrderItemAdjustmentLineSummaryAmount</name>
        <dataType>Number</dataType>
        <expression>{!Order_Item_Adjustments_Loop.Amount} * -1</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>signChangedOrderItemAdjustmentTaxLineAmount</name>
        <dataType>Number</dataType>
        <expression>{!Order_Item_Adjustment_Taxes_Loop.Amount} * -1</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>signChangedOrderItemTaxLineItemAmount</name>
        <dataType>Number</dataType>
        <expression>{!Unadjusted_Order_Item_Tax_Loop.Amount} * -1</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>signChangeShippingQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Canceled_Delivery_Charge.Quantity} * -1</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>signChangeTotalLineAmount</name>
        <dataType>Number</dataType>
        <expression>{!Get_Change_Order_Item.TotalLineAmount} * -1</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Variant Swap {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Swap Item</label>
    <loops>
        <name>Location_Group_Loop_Multiple_Webstores</name>
        <label>Location Group</label>
        <locationX>3174</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Location_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Location_Group_Multiple_Webstores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Stages_Multiple_Webstores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Location_Group_Loop_Single</name>
        <label>Location Group</label>
        <locationX>5506</locationX>
        <locationY>1922</locationY>
        <collectionReference>Get_Location_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Location_Group_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Stages_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Delivery_Group_Single</name>
        <label>Order Delivery Group</label>
        <locationX>3218</locationX>
        <locationY>3062</locationY>
        <collectionReference>availableOrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_Order_Delivery_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Current_Stage_Select_Products_Remove_Delivery_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Delivery_Group_Summaries_Loop</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>3174</locationX>
        <locationY>2246</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>Get_Order_Delivery_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Order_Delivery_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Adjustment_Taxes_Loop</name>
        <label>Order Item Adjustment Taxes</label>
        <locationX>3702</locationX>
        <locationY>9074</locationY>
        <collectionReference>Get_Order_Item_Adjustment_Taxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Item_Adjustment_Tax_Summary_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Item_Adjustment_With_Tax</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Adjustments_Loop</name>
        <label>Order Item Adjustments</label>
        <locationX>3526</locationX>
        <locationY>8426</locationY>
        <collectionReference>Get_Order_Item_Adjustments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Item_Adjustment_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Add_Replacement_Item_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Original_Product_Inputs_Loop</name>
        <label>Original Product Inputs</label>
        <locationX>3174</locationX>
        <locationY>4502</locationY>
        <collectionReference>ExchangeItemsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Exchangeable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_Original_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Replacement_Items_Loop</name>
        <label>Replacement Items</label>
        <locationX>3174</locationX>
        <locationY>5942</locationY>
        <collectionReference>ExchangeItemsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Replacement_Item_Exchangeable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Replacement_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Products_Loop</name>
        <label>Selected Products</label>
        <locationX>3174</locationX>
        <locationY>3986</locationY>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Original_Product_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Replacement_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Unadjusted_Order_Item_Tax_Loop</name>
        <label>Unadjusted Order Item Tax</label>
        <locationX>3526</locationX>
        <locationY>7694</locationY>
        <collectionReference>Get_Unadjusted_Order_Item_Taxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Item_Tax_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Initialized_Order_Item_Adjustment_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstore_Loop_Multiple_Location_Groups</name>
        <label>Webstore</label>
        <locationX>5154</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Webstore_Multiple_Location_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Stages_Multiple_Location_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstore_Loop_Single</name>
        <label>Webstore</label>
        <locationX>5506</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Webstore_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location_Group_Loop_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstores_Loop_Without_Location_Groups</name>
        <label>Webstores</label>
        <locationX>6386</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Webstore_Without_Location_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Active_Stages_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Pricebook_Entry</name>
        <label>Pricebook Entry</label>
        <locationX>3482</locationX>
        <locationY>6938</locationY>
        <assignRecordIdToReference>tempPriceBookEntryId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Change_Order_Item</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>temporaryProduct2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Replacement_Items_Loop.actualGrossUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Product</name>
        <label>Product</label>
        <locationX>3262</locationX>
        <locationY>6374</locationY>
        <assignRecordIdToReference>temporaryProduct2Id</assignRecordIdToReference>
        <connector>
            <targetReference>Pricebook_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Replacement_Items_Loop.productName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Replacement_Items_Loop.productName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>Replacement_Items_Loop.productCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockKeepingUnit</field>
            <value>
                <elementReference>Replacement_Items_Loop.productSku</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Canceled_Delivery_Charge</name>
        <label>Canceled Delivery Charge</label>
        <locationX>3174</locationX>
        <locationY>5210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Canceled_Delivery_Charge</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Change_Order_Item</name>
        <label>Change Order Item</label>
        <locationX>3526</locationX>
        <locationY>7262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Replacement_Item_Input</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Replacement_Items_Loop.originalOrderItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delivery_Charge</name>
        <label>Delivery Charge</label>
        <locationX>2778</locationX>
        <locationY>5426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Delivery_Charge_Change</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.RelatedOrderItem.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delivery_Charge_Change</name>
        <label>Delivery Charge Change</label>
        <locationX>2778</locationX>
        <locationY>5534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Replacement_Delivery_Charge</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Canceled_Delivery_Charge.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummaryChange</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch All Location Groups</description>
        <name>Get_Location_Groups</name>
        <label>Location Groups</label>
        <locationX>1876</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Location_Groups</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LocationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Order</label>
        <locationX>2310</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Optional_Pricebook_from_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.OriginalOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>3174</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Delivery_Group_Summaries_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Adjustment_Summary</name>
        <label>Order Item Adjustment Summary</label>
        <locationX>3702</locationX>
        <locationY>8534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Item_Adjustment_Summary_Input</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Replacement_Items_Loop.orderItemSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OriginalOrderItemAdjustmentLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Item_Adjustments_Loop.RelatedAdjustmentLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemAdjustmentLineSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Adjustment_Taxes</name>
        <label>Order Item Adjustment Taxes</label>
        <locationX>3702</locationX>
        <locationY>8966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item_Adjustment_Taxes_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderItemAdjustmentLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Item_Adjustments_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Change_Order_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemTaxLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Adjustments</name>
        <label>Order Item Adjustments</label>
        <locationX>3526</locationX>
        <locationY>8318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item_Adjustments_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Change_Order_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemAdjustmentLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>3394</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToCancel</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary</name>
        <label>Order Summary</label>
        <locationX>3458</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Summary_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Pricebook Entry</label>
        <locationX>3746</locationX>
        <locationY>6722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Entry_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>temporaryProduct2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>tempPriceBookEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Products</label>
        <locationX>3174</locationX>
        <locationY>3554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Stage_Select_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantityAvailableToCancel</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unadjusted_Order_Item_Taxes</name>
        <label>Unadjusted Order Item Taxes</label>
        <locationX>3526</locationX>
        <locationY>7586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unadjusted_Order_Item_Tax_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Change_Order_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmitCancelOutputRepresentation.changeOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderItemAdjustmentLineItemId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemTaxLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch all web stores.</description>
        <name>Get_Webstores</name>
        <label>Webstores</label>
        <locationX>2178</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Webstores</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2CE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WebStore</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>DefaultTaxLocaleType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>3174</locationX>
        <locationY>10382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Image_Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Header_Confirmation</name>
            <fieldText>{!Header_SuccessMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Footer_Confirmation</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Delivery_Group</name>
        <label>Select Delivery Group</label>
        <locationX>2866</locationX>
        <locationY>3062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <fields>
            <name>Header_Delivery_Group_Select</name>
            <fieldText>{!Header_SelectDeliveryGroupHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Component_Delivery_Group_Select</name>
            <extensionName>runtime_commerce_oms:deliveryGroupSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>EXCHANGE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>availableOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummary</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummaries</assignToReference>
                <name>selectedOrderDeliveryGroupSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
                <name>selectedOrderDeliveryGroupSummary</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Footer_Delivery_Group_Select</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products_to_Exchange</name>
        <label>Select Products to Exchange</label>
        <locationX>3174</locationX>
        <locationY>3770</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Stage_Select_Replacement_Products</targetReference>
        </connector>
        <fields>
            <name>Header_Products_Selection</name>
            <fieldText>{!Header_SelectProductsHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Component_Product_Selection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>EXCHANGE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Footer_Product_Selection</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Replacement_Products</name>
        <label>Select Replacement Products</label>
        <locationX>3174</locationX>
        <locationY>4394</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Original_Product_Inputs_Loop</targetReference>
        </connector>
        <fields>
            <name>Header_Variant_Selection</name>
            <fieldText>{!Header_SelectProductVariantsHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Component_Variant_Selection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>EXCHANGE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>exchangeItemList</name>
                <value>
                    <elementReference>ExchangeItemsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationGroup</name>
                <value>
                    <elementReference>selectedLocationGroup</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webStore</name>
                <value>
                    <elementReference>selectedWebstore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useLocationGroups</name>
                <value>
                    <elementReference>useLocationGroups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyOci</name>
                <value>
                    <elementReference>applyOCI</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ExchangeItemsList</assignToReference>
                <name>exchangeItemList</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Footer_Variant_Selection</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Webstore_and_Location_Group</name>
        <label>Select Webstore and Location Group</label>
        <locationX>3174</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <fields>
            <name>Header_Both_Webstore_and_Location_Group_Selection</name>
            <fieldText>{!Header_WebStoreAndLocationGroupSelectionHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>webstoreCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>locationGroupCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>useLocationGroups</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Header_Store_Webstore_and_Location_Group_Selection</name>
            <fieldText>{!Header_WebStoreSelectionHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>locationGroupCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>useLocationGroups</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Header_Location_Group_Webstore_and_Location_Group_Selection</name>
            <fieldText>{!Header_LocationGroupSelectionHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>webstoreCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>useLocationGroups</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Webstore_and_Location_Group_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Webstore_and_Location_Group_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Webstore_and_Location_Group_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Webstore</name>
                    <choiceReferences>Webstore_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Store</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>webstoreCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Select_Location_Group</name>
                    <choiceReferences>Location_Group_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>locationGroupCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>useLocationGroups</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Webstore_and_Location_Group_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Footer_Webstore_and_Location_Group_Selection</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_exc__Exchange_Flow</sourceTemplate>
    <stages>
        <name>Confirmation_Stage</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Select_Delivery_Group_Stage</name>
        <isActive>false</isActive>
        <label>Select Shipping Address</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Select_Location_Group_Stage</name>
        <isActive>false</isActive>
        <label>Select Location Group</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Products_To_Exchange_Stage</name>
        <isActive>false</isActive>
        <label>Select Order Products to Exchange</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Select_Replacement_Products_Stage</name>
        <isActive>false</isActive>
        <label>Select Quantity, Reason, and Replacement Order Product</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Select_Webstore_And_Location_Group_Stage</name>
        <isActive>false</isActive>
        <label>Select Store and Location Group</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Select_Webstore_Stage</name>
        <isActive>false</isActive>
        <label>Select Store</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>3332</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Delivery_Groups_To_Exchange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>When an order has items you can exchange, you can find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Location_Group</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An exchange must be associated with a location group.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Webstore_Fault</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An exchange must be associated with a B2CE or B2B store.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_No_Delivery_Groups_To_Exchange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nothing to Exchange</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_No_Location_Group</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No location group found.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_No_Webstore_Fault</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No B2CE or B2B store found.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_Unmanaged_Order</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_Wrong_Entity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is where you&apos;d exchange order products. To exchange order products, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Header_LocationGroupSelectionHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;Select a location group.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header_SelectDeliveryGroupHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;Select a shipping address.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header_SelectProductsHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;Select the order products to exchange.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header_SelectProductVariantsHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;Select quantity, reason, and replacement product.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header_SuccessMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;You&apos;re all set. The exchange succeeded!&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header_WebStoreAndLocationGroupSelectionHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;Select a store and location group.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header_WebStoreSelectionHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center;&quot;&gt;Select a store.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Replacement_Product_Default_Display_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Select a replacement product</text>
    </textTemplates>
    <variables>
        <name>AddItem</name>
        <apexClass>runtime_commerce_oms__AddItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddItemAdjustment</name>
        <apexClass>runtime_commerce_oms__AddItemAdjustment</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddItemAdjustmentList</name>
        <apexClass>runtime_commerce_oms__AddItemAdjustment</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddOrderItemSummariesInputRepresentation</name>
        <apexClass>runtime_commerce_oms__AddOrderItemSummaries</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applyOCI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>availableOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>ChangeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConstAddItemAdjustmentEmptyList</name>
        <apexClass>runtime_commerce_oms__AddItemAdjustment</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>constOrderItemAdjustmentLineItemSummaryEmptyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemAdjustmentLineSummary</objectType>
    </variables>
    <variables>
        <name>constOrderItemTaxLineItemSummaryEmptyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExchangeItem</name>
        <apexClass>runtime_commerce_oms__ExchangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExchangeItemsList</name>
        <apexClass>runtime_commerce_oms__ExchangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>locationGroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Location Groups Assignment Values</description>
        <name>locationGroupsAssigmentValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroupAssignment</objectType>
    </variables>
    <variables>
        <description>Location Groups Values</description>
        <name>locationGroupsValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <name>newOrderItemAdjustmentLineItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemAdjustmentLineSummary</objectType>
    </variables>
    <variables>
        <name>newOrderItemAdjustmentLineItemSummaryRepresentationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemAdjustmentLineSummary</objectType>
    </variables>
    <variables>
        <name>newOrderItemAdjustmentTaxLineItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>newOrderItemAdjustmentTaxLineItemSummaryRepresentationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>newOrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>newOrderItemTaxLineItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>newOrderItemTaxLineItemSummaryRepresentationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>numberAvailableOrderDeliveryGroups</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInput</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemTaxLineItemSummaryRepresentationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocationGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <description>Selected Webstore object</description>
        <name>selectedWebstore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WebStore</objectType>
    </variables>
    <variables>
        <name>ShippingExchangeItem</name>
        <apexClass>runtime_commerce_oms__ExchangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDeliveryGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubmitCancelOutputRepresentation</name>
        <apexClass>ConnectApi__SubmitCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temporaryProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempPriceBookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag to determine whether we need to show Location Group selection or not.</description>
        <name>useLocationGroups</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>webstoreCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
