stDemoOne/force-app/main/default/flows/SDO_Experience_User_Reputation_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>What: Used in Experience Cloud Sites to display the users&apos; reputation level</description>
    <environments>Default</environments>
    <formulas>
        <name>NextReputationLevel</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Reputation_Level.LevelNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PercentComplete</name>
        <dataType>Number</dataType>
        <expression>{!Get_User_Detail.SDO_Experience_ReputationPoints__c} / {!Get_Next_Reputation_Level.Threshold} * 100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varPointsFromNextLevel</name>
        <dataType>Number</dataType>
        <expression>{!Get_Next_Reputation_Level.Threshold} - {!Get_User_Detail.SDO_Experience_ReputationPoints__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SDO Experience - User Reputation Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Experience - User Reputation Level</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Reputation_Level</name>
        <label>Get Current Reputation Level</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Reputation_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Threshold</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_User_Detail.SDO_Experience_ReputationPoints__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_site_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReputationLevel</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LevelNumber</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Threshold</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Reputation_Level</name>
        <label>Get Next Reputation Level</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Level_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LevelNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextReputationLevel</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_site_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReputationLevel</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>LevelNumber</queriedFields>
        <queriedFields>Threshold</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_site_details</name>
        <label>Get site details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Reputation_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSiteName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Detail</name>
        <label>Get User Detail</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_site_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SDO_Experience_ReputationPoints__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>User_Level_Screen</name>
        <label>User Level Screen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textPreLevel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 20px;&quot;&gt;{!Get_Current_Reputation_Level.Label} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>progStatus</name>
            <extensionName>c:sDO_Commerce_dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStepPercentage</name>
                <value>
                    <elementReference>PercentComplete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>1, 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>Get_Next_Reputation_Level.Label</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p&gt;Current Level - {!Get_Current_Reputation_Level.Label} &lt;/p&gt;&lt;p&gt;Points - {!Get_User_Detail.SDO_Experience_ReputationPoints__c}&lt;/p&gt;&lt;p&gt;﻿{!varPointsFromNextLevel} points to Level  {!Get_Next_Reputation_Level.Label}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PercentComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>-100.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varSiteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
