stDemoOne/force-app/main/default/flows/SDO_OMS_Replacement_Reship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Create_Reship_FO</name>
        <label>Create Reship FO?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRepaymentMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Location</targetReference>
            </connector>
            <label>Yes, Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OMS - Replacement / Reship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS - Replacement / Reship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FO_Product_Line</name>
        <label>Create FO Product Line</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varOrderProductSummary.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>Create_Fulfillment_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemId</field>
            <value>
                <elementReference>varOrderProductSummary.OriginalOrderItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummaryId</field>
            <value>
                <elementReference>varOrderProductSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalQuantity</field>
            <value>
                <elementReference>varOrderProductSummary.QuantityOrdered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varOrderProductSummary.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varOrderProductSummary.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeCode</field>
            <value>
                <elementReference>varOrderProductSummary.TypeCode</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_FO_Product_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varOrderSummary.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryMethodId</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.OrderDeliveryMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledFromLocationId</field>
            <value>
                <elementReference>Get_Default_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToCity</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToCountry</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToEmailAddress</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToLatitude</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToLongitude</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToName</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToPhone</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToPostalCode</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToState</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToStreet</field>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReship</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>varOrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reship_Return_Order__c</field>
            <value>
                <elementReference>varReshipReturnOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Default_Location.LocationType</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Location</name>
        <label>Get Default Location</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderProductSummary.OrderDeliveryGroupSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Reship_FO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varOrderProductSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>varOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRepaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReshipReturnOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
