stDemoOne/force-app/main/default/flows/Update_Budget_Amount_based_on_Budget_Category_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignAmount</name>
        <label>AssignAmount</label>
        <locationX>126</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>AssignCalculationValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetBudgetObject.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateBudgetAmountbasedonBCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExistingValueLessPriorAmountofBCV</name>
        <label>AssignExistingValueLessPriorAmountofBCV</label>
        <locationX>1218</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>AssignExistingBudgetAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRevisedBudgetAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFormulaCalculation</name>
        <label>AssignFormulaCalculation</label>
        <locationX>123</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>AssignCalculationValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFormulaCalculationforChangedAmount</name>
        <label>AssignFormulaCalculationforChangedAmount</label>
        <locationX>1231</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>AssignExistingBudgetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBudgetObjectChangedAmount.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignExistingValueLessPriorAmountofBCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRevisedBudgetAmount</name>
        <label>AssignRevisedBudgetAmount</label>
        <locationX>1010</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>AssignExistingBudgetAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateBudgetAmountbasedonBCVChanging</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if Budget Category Value changed</description>
        <name>BCVChange</name>
        <label>BCVChange</label>
        <locationX>690</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BCV_Did_Not_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBudgetObject</targetReference>
            </connector>
            <label>BCV Did Not Change</label>
        </rules>
        <rules>
            <name>BCV_Did_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBudgetObjectChangedAmount</targetReference>
            </connector>
            <label>BCV Did Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Updating Budget Amount field based on Budget Category Values</description>
        <name>UpdateAmountFieldofBudgetwithBCV</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}+{!$Record.BudgetCategory.Budget.Amount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Budget Amount based on Budget Category Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Budget Amount based on Budget Category Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBudgetObject</name>
        <label>GetBudgetObject</label>
        <locationX>481</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFormulaCalculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BudgetCategory.Budget.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBudgetObjectChangedAmount</name>
        <label>GetBudgetObjectChangedAmount</label>
        <locationX>955</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFormulaCalculationforChangedAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BudgetCategory.Budget.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBudgetAmountbasedonBCV</name>
        <label>UpdateBudgetAmountbasedonBCV</label>
        <locationX>491</locationX>
        <locationY>707</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBudgetObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AssignCalculationValue</elementReference>
            </value>
        </inputAssignments>
        <object>Budget</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBudgetAmountbasedonBCVChanging</name>
        <label>UpdateBudgetAmountbasedonBCVChanging</label>
        <locationX>840</locationX>
        <locationY>704</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBudgetObjectChangedAmount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AssignExistingBudgetAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Budget</object>
    </recordUpdates>
    <start>
        <locationX>568</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>BCVChange</targetReference>
        </connector>
        <object>BudgetCategoryValue</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignCalculationValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssignExistingBudgetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
