stDemoOne/force-app/main/default/flows/Update_Account_Interaction_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error_Status</name>
        <label>Set Error Status</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The process errored out...</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The account was updated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_up_account_record</name>
        <label>Set up account record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Account_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_to_update.Interaction_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <description>Update the Interaction History field on a given account record.</description>
    <environments>Default</environments>
    <interviewLabel>Update Account Interaction History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Interaction History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Status</targetReference>
        </faultConnector>
        <inputReference>Account_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_up_account_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Record ID for Account record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
