stDemoOne/force-app/main/default/flows/xdo_dc_Universal_360_Add_Modify_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Universal_Record_exists</name>
        <label>Check if Universal Record exists</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Universal 360 Config</defaultConnectorLabel>
        <rules>
            <name>Edit_Universal_360_Confor_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Get_Matched_Universal_360_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Master</targetReference>
            </connector>
            <label>Edit Universal 360 Confor Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Universal 360 Add/Modify Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universal 360 Add/Modify Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Universal_360_Config</name>
        <label>Add Universal 360 Config</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_Universal_Child</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>API_Name_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_Label_for_Field_8__c</field>
            <value>
                <elementReference>API_Field_8_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_10__c</field>
            <value>
                <elementReference>API_Field_10_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_11__c</field>
            <value>
                <elementReference>API_Field_11_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_12__c</field>
            <value>
                <elementReference>API_Field_12_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_13__c</field>
            <value>
                <elementReference>API_Field_13_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_14__c</field>
            <value>
                <elementReference>API_of_Field_14_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_15_Image__c</field>
            <value>
                <elementReference>API_Field_15_Image_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_16_Number__c</field>
            <value>
                <elementReference>API_Field_16_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_17_Number__c</field>
            <value>
                <elementReference>API_Field_17_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_18_Number__c</field>
            <value>
                <elementReference>API_Field_18_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_19_Number__c</field>
            <value>
                <elementReference>API_Field_19_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_1__c</field>
            <value>
                <elementReference>API_Field_1_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_2_Email__c</field>
            <value>
                <elementReference>API_Field_2_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_3_Phone__c</field>
            <value>
                <elementReference>API_Field_3_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__City__s</field>
            <value>
                <elementReference>API_Field4Value.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__CountryCode__s</field>
            <value>
                <elementReference>API_Field4Value.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__PostalCode__s</field>
            <value>
                <elementReference>API_Field4Value.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__StateCode__s</field>
            <value>
                <elementReference>API_Field4Value.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__Street__s</field>
            <value>
                <elementReference>API_Field4Value.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_5__c</field>
            <value>
                <elementReference>API_Field_5_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_6_Number__c</field>
            <value>
                <elementReference>API_Field_6_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_7__c</field>
            <value>
                <elementReference>API_Field_7_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_8__c</field>
            <value>
                <elementReference>API_Field_8_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_9__c</field>
            <value>
                <elementReference>API_Field_9_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Header_Subtitle__c</field>
            <value>
                <elementReference>API_Sub_TItle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_For_Field_10__c</field>
            <value>
                <elementReference>API_Field_10_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_11__c</field>
            <value>
                <elementReference>API_Field_11_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_12__c</field>
            <value>
                <elementReference>API_Field_12_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_13__c</field>
            <value>
                <elementReference>API_of_Field_13_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_14__c</field>
            <value>
                <elementReference>API_Field_14_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_16_Number__c</field>
            <value>
                <elementReference>API_Field_16_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_17__c</field>
            <value>
                <elementReference>API_Field_17_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_18__c</field>
            <value>
                <elementReference>API_Field_18_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_19__c</field>
            <value>
                <elementReference>API_Field_19_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_1__c</field>
            <value>
                <elementReference>API_Field_1_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_2_Email__c</field>
            <value>
                <elementReference>API_Field_2_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_3_Phone__c</field>
            <value>
                <elementReference>API_Field_3_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_4_Address__c</field>
            <value>
                <elementReference>API_Field_4_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_5__c</field>
            <value>
                <elementReference>API_Field_5_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_6_Number__c</field>
            <value>
                <elementReference>API_Field_6_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_7__c</field>
            <value>
                <elementReference>API_Field_7_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_8__c</field>
            <value>
                <elementReference>API_Field_8_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_9__c</field>
            <value>
                <elementReference>API_Field_9_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Universal_360_Name__c</field>
            <value>
                <elementReference>API_ProfileImage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_10__c</field>
            <value>
                <elementReference>API_Field_10_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_11__c</field>
            <value>
                <elementReference>API_Field_11_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_12__c</field>
            <value>
                <elementReference>API_Field_12_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_13__c</field>
            <value>
                <elementReference>API_Field_13_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_14__c</field>
            <value>
                <elementReference>API_of_Field_14_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_16_Number__c</field>
            <value>
                <elementReference>API_Field_16_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_17__c</field>
            <value>
                <elementReference>API_Field_17_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_18__c</field>
            <value>
                <elementReference>API_Field_18_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_19__c</field>
            <value>
                <elementReference>API_Field_19_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_1__c</field>
            <value>
                <elementReference>API_Field_1_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_2_Email__c</field>
            <value>
                <elementReference>API_Field_2_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_3_Phone__c</field>
            <value>
                <elementReference>API_Field_3_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_4_Address__c</field>
            <value>
                <elementReference>API_Field_4_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_5__c</field>
            <value>
                <elementReference>API_Field_5_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_6_Number__c</field>
            <value>
                <elementReference>API_Field_6_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_7__c</field>
            <value>
                <elementReference>API_Field_7_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_9__c</field>
            <value>
                <elementReference>API_Field_9_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Progress_bar_for_Field_17__c</field>
            <value>
                <elementReference>API_Progress_Bar_Field_17_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Progress_bar_for_Field_18__c</field>
            <value>
                <elementReference>API_Progress_Bar_Field_18_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Progress_bar_for_Field_19__c</field>
            <value>
                <elementReference>API_Progress_Bar_Field_19_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_1_Active__c</field>
            <value>
                <elementReference>Copy_1_of_Section_1_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_2_Active__c</field>
            <value>
                <elementReference>API_of_Section_2_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_3_Active__c</field>
            <value>
                <elementReference>API_Section_3_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_KPI_Active__c</field>
            <value>
                <elementReference>API_Section_4_Active</elementReference>
            </value>
        </inputAssignments>
        <object>xdo_dc_universal_360__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Universal_Child</name>
        <label>Add Universal Child</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Trace_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Universal_360_Id__c</field>
            <value>
                <elementReference>Add_Universal_360_Config</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Universal_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>xdo_dc_Universal_360_Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Child_Get_Matched_Universal_360_Record</name>
        <label>Get Matched Universal 360 Record Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Universal_Record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xdo_dc_Universal_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xdo_dc_Universal_360_Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Master</name>
        <label>Get Universal 360 Config Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Child_Get_Matched_Universal_360_Record.xdo_dc_Universal_360_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xdo_dc_universal_360__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Configuration_Record</name>
        <label>Update Configuration Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_Trace_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Master.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_Label_for_Field_8__c</field>
            <value>
                <elementReference>Field_8_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_10__c</field>
            <value>
                <elementReference>Field_10_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_11__c</field>
            <value>
                <elementReference>Field_11_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_12__c</field>
            <value>
                <elementReference>Field_12_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_13__c</field>
            <value>
                <elementReference>Field_13_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_14__c</field>
            <value>
                <elementReference>Field_14_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_15_Image__c</field>
            <value>
                <elementReference>Field_15_Image_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_16_Number__c</field>
            <value>
                <elementReference>Field_16_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_17_Number__c</field>
            <value>
                <elementReference>Field_17_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_18_Number__c</field>
            <value>
                <elementReference>Field_18_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_19_Number__c</field>
            <value>
                <elementReference>Field_19_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_1__c</field>
            <value>
                <elementReference>Field_1_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_2_Email__c</field>
            <value>
                <elementReference>Field_2_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_3_Phone__c</field>
            <value>
                <elementReference>Field_3_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__City__s</field>
            <value>
                <elementReference>Field4Value.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__CountryCode__s</field>
            <value>
                <elementReference>Field4Value.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__PostalCode__s</field>
            <value>
                <elementReference>Field4Value.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__StateCode__s</field>
            <value>
                <elementReference>Field4Value.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_4_Address__Street__s</field>
            <value>
                <elementReference>Field4Value.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_5__c</field>
            <value>
                <elementReference>Field_5_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_6_Number__c</field>
            <value>
                <elementReference>Field_6_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_7__c</field>
            <value>
                <elementReference>Field_7_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_8__c</field>
            <value>
                <elementReference>Field_8_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Field_9__c</field>
            <value>
                <elementReference>Field_9_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Header_Subtitle__c</field>
            <value>
                <elementReference>Header_SubTItle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_For_Field_10__c</field>
            <value>
                <elementReference>Field_10_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_11__c</field>
            <value>
                <elementReference>Field_11_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_12__c</field>
            <value>
                <elementReference>Field_12_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_13__c</field>
            <value>
                <elementReference>Field_13_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_14__c</field>
            <value>
                <elementReference>Field_14_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_16_Number__c</field>
            <value>
                <elementReference>Field_16_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_17__c</field>
            <value>
                <elementReference>Field_17_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_18__c</field>
            <value>
                <elementReference>Field_18_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_19__c</field>
            <value>
                <elementReference>Field_19_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_1__c</field>
            <value>
                <elementReference>Field_1_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_2_Email__c</field>
            <value>
                <elementReference>Field_2_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_3_Phone__c</field>
            <value>
                <elementReference>Field_3_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_4_Address__c</field>
            <value>
                <elementReference>Field_4_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_5__c</field>
            <value>
                <elementReference>Field_5_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_6_Number__c</field>
            <value>
                <elementReference>Field_6_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_7__c</field>
            <value>
                <elementReference>Field_7_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_8__c</field>
            <value>
                <elementReference>Field_8_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Field_9__c</field>
            <value>
                <elementReference>Field_9_Icon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Icon_for_Universal_360_Name__c</field>
            <value>
                <elementReference>Profile_Image</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_10__c</field>
            <value>
                <elementReference>Field_10_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_11__c</field>
            <value>
                <elementReference>Field_11_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_12__c</field>
            <value>
                <elementReference>Field_12_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_13__c</field>
            <value>
                <elementReference>Field_13_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_14__c</field>
            <value>
                <elementReference>Field_14_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_16_Number__c</field>
            <value>
                <elementReference>Field_16_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_17__c</field>
            <value>
                <elementReference>Field_17_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_18__c</field>
            <value>
                <elementReference>Field_18_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_19__c</field>
            <value>
                <elementReference>Field_19_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_1__c</field>
            <value>
                <elementReference>Field_1_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_2_Email__c</field>
            <value>
                <elementReference>Field_2_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_3_Phone__c</field>
            <value>
                <elementReference>Field_3_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_4_Address__c</field>
            <value>
                <elementReference>Field_4_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_5__c</field>
            <value>
                <elementReference>Field_5_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_6_Number__c</field>
            <value>
                <elementReference>Field_6_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_7__c</field>
            <value>
                <elementReference>Field_7_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Label_for_Field_9__c</field>
            <value>
                <elementReference>Field_9_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Progress_bar_for_Field_17__c</field>
            <value>
                <elementReference>Progress_Bar_Field_17_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Progress_bar_for_Field_18__c</field>
            <value>
                <elementReference>Progress_Bar_Field_18_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Progress_bar_for_Field_19__c</field>
            <value>
                <elementReference>Progress_Bar_Field_19_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_1_Active__c</field>
            <value>
                <elementReference>Section_1_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_2_Active__c</field>
            <value>
                <elementReference>Section_2_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_3_Active__c</field>
            <value>
                <elementReference>Section_3_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xdo_dc_Section_KPI_Active__c</field>
            <value>
                <elementReference>Section_4_Active</elementReference>
            </value>
        </inputAssignments>
        <object>xdo_dc_universal_360__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Configuration</name>
        <label>Add Configuration</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Universal_360_Config</targetReference>
        </connector>
        <fields>
            <name>Link</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;a href=&quot;https://salesforce.quip.com/S8auAQCvOYl6&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Icons&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Header_Section</name>
            <fieldText>Header Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Header_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Name_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_name</elementReference>
                    </defaultValue>
                    <fieldText>Name/ Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Header_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Sub_TItle</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_header_subtitle</elementReference>
                    </defaultValue>
                    <fieldText>Sub TItle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Header_Section_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_ProfileImage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_profile_image</elementReference>
                    </defaultValue>
                    <fieldText>Profile Image</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Section_1</name>
            <fieldText>Section 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Section_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_1_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field1Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 1 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_2_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field2Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 2 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_3_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field3Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 3 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_4_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field4Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 4 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Section_1_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_Section1Active</elementReference>
                    </defaultValue>
                    <fieldText>Section 1 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_1_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field1Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 1 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_2_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field2Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 2 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_3_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field3Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 3 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field4Value</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>add_Field4City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <elementReference>add_Field4Label</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>add_Field4PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>add_Field4State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>add_Field4Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>add_Field4Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_1_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field1Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 1 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_2_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field2Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 2 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_3_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field3Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 3 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_4_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field4Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 4 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Section_2</name>
            <fieldText>Section 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Section_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_5_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field5Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 5 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_6_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field6Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 6 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_7_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field7Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 7 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_8_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field8Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 8 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_9_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field9Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 9 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_of_Section_2_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_Section2Active</elementReference>
                    </defaultValue>
                    <fieldText>Section 2 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_5_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field5Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 5 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_6_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field6Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 6 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_7_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field7Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 7 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_8_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field8Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 8 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_9_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field9Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 9 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_5_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field5Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 5 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_6_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field6Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 6 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_7_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field7Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 7 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_8_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field8Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 8 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_9_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field9Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 9 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Section_3</name>
            <fieldText>Section 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Section_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_10_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field10Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 10 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_11_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field11Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 11 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_12_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field12Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 12 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_13_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field13Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 13 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_of_Field_14_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field14Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 14 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Section_3_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_Section3Active</elementReference>
                    </defaultValue>
                    <fieldText>Section 3 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_10_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field10Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 10 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_11_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field11Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 11 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_12_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field12Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 12 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_13_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field13Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 13 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_of_Field_14_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field14Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 14 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_15_Image_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field15Image</elementReference>
                    </defaultValue>
                    <fieldText>Field 15 Image URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_10_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field10Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 10 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_11_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field11Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 11 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_12_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field11Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 12 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_of_Field_13_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field13Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 13 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_14_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field14Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 14 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Section_4_KPI</name>
            <fieldText>Section 4 KPI</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Section_4_KPI_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_16_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field16Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 16 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_17_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field17Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 17 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_18_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field18Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_19_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field19Label</elementReference>
                    </defaultValue>
                    <fieldText>Field 19 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Progress_Bar_Field_17_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_Progressbar17Active</elementReference>
                    </defaultValue>
                    <fieldText>Progress Bar Field 17 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Section_4_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_SectionKPIActive</elementReference>
                    </defaultValue>
                    <fieldText>Section 4 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_4_KPI_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_16_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>add_Field16Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 16 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_17_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>add_Field17Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 17 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_18_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>add_Field18Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_19_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>add_Field19Value</elementReference>
                    </defaultValue>
                    <fieldText>Field 19 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Progress_Bar_Field_18_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_Progressbar18Active</elementReference>
                    </defaultValue>
                    <fieldText>Progress Bar Field 18 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Section_4_KPI_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>API_Field_16_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field16Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 16 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_17_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field17Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 17 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_18_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field18Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Field_19_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>add_Field19Icon</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>API_Progress_Bar_Field_19_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>add_Progressbar19Active</elementReference>
                    </defaultValue>
                    <fieldText>Progress Bar Field 19 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Configuration</name>
        <label>Update Configuration</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Configuration_Record</targetReference>
        </connector>
        <fields>
            <name>Link_2_Icons</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;a href=&quot;https://salesforce.quip.com/S8auAQCvOYl6&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Icons&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Header_Section</name>
            <fieldText>Header Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Header_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name/ Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Header_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header_SubTItle</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Header_Subtitle__c</elementReference>
                    </defaultValue>
                    <fieldText>Sub TItle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Header_Section_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Profile_Image</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Universal_360_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Profile Image</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_1</name>
            <fieldText>Section 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_1_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 1 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_2_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_2_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 2 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_3_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_3_Phone__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 3 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_4_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_4_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 4 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Section_1_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Section_1_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Section 1 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_1_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 1 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_2_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_2_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 2 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_3_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_3_Phone__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 3 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field4Value</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Master.xdo_dc_Field_4_Address__City__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Master.xdo_dc_Field_4_Address__CountryCode__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Master.xdo_dc_Field_4_Address__PostalCode__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Master.xdo_dc_Field_4_Address__StateCode__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Master.xdo_dc_Field_4_Address__Street__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_1_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 1 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_2_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_2_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 2 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_3_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_3_Phone__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 3 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_4_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_4_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 4 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_2</name>
            <fieldText>Section 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_5_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_5__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 5 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_6_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_6_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 6 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_7_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_7__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 7 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_8_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_Label_for_Field_8__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 8 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_9_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_9__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 9 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Section_2_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Section_2_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Section 2 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_5_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_5__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 5 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_6_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_6_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 6 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_7_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_7__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 7 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_8_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_8__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 8 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_9_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_9__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 9 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_5_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_5__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 5 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_6_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_6_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 6 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_7_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_7__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 7 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_8_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_8__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 8 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_9_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_9__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 9 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_3</name>
            <fieldText>Section 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_10_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_10__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 10 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_11_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_11__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 11 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_12_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_12__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 12 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_13_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_13__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 13 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_14_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_14__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 14 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Section_3_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Section_3_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Section 3 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_10_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_10__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 10 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_11_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_11__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 11 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_12_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_12__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 12 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_13_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_13__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 13 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_14_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_14__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 14 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_15_Image_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_15_Image__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 15 Image URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_10_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_For_Field_10__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 10 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_11_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_11__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 11 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_12_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_12__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 12 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_13_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_13__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 13 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_14_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_14__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 14 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_4_KPI</name>
            <fieldText>Section 4 KPI</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_4_KPI_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_16_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_16_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 16 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_17_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_17__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 17 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_18_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_18__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_19_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Label_for_Field_19__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 19 Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Progress_Bar_Field_17_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Progress_bar_for_Field_17__c</elementReference>
                    </defaultValue>
                    <fieldText>Progress Bar Field 17 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Section_4_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Section_KPI_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Section 4 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_4_KPI_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_16_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_16_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 16 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_17_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_17_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 17 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_18_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_18_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_19_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Field_19_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 19 Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Progress_Bar_Field_18_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Progress_bar_for_Field_18__c</elementReference>
                    </defaultValue>
                    <fieldText>Progress Bar Field 18 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_4_KPI_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_16_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_16_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 16 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_17_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_17__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 17 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_18_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_18__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 18 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Field_19_Icon</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Icon_for_Field_19__c</elementReference>
                    </defaultValue>
                    <fieldText>Field 19 Icon</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Progress_Bar_Field_19_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Master.xdo_dc_Progress_bar_for_Field_19__c</elementReference>
                    </defaultValue>
                    <fieldText>Progress Bar Field 19 Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Config</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Child_Get_Matched_Universal_360_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Trace_Event</name>
        <label>Copy 1 of Trace Event</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>xDO_Tool_Tracking_Event_Reporting_Conversion</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Edited the Universal config record </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetIdentifer</name>
            <value>
                <stringValue>Universal360ConfigurationFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MinutesSaved</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Trace_Event</name>
        <label>Trace Event</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>xDO_Tool_Tracking_Event_Reporting_Conversion</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Edited the Universal config record </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetIdentifer</name>
            <value>
                <stringValue>Universal360ConfigurationFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MinutesSaved</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>add_Field10Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Membership</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field10Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tier</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field10Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Gold</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field11Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field11Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Loyalty Tier</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field11Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Maximum</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field12Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Segment</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field12Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Membership</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field12Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Premium</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field13Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Phone</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field13Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>App Version</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field13Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2.0</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field14Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Seat</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field14Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Seat</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field14Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Window</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field15Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qbranch-india.file.force.com/servlet/servlet.ImageServer?id=0155j000000xiqn&amp;oid=00D5j000004lTCM&amp;lastMod=1710332836000</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field16Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Commerce</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field16Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lifetime Value</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field16Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>add_Field17Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Einstein</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field17Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Propensity to Purchase</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field17Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>add_Field18Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Einstein</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field18Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Propensity to Churn</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field18Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>add_Field19Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Einstein</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field19Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Engagement Score</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field19Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>add_Field1Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field1Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Universal Id</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field1Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>742971</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field2Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Mail</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field2Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field2Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>apeterson@yahoo.in</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field3Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Mobile</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field3Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field3Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>(310) 555-3983</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fairfax</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>US</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Geotag</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Address</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>22035</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VA</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field4Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>12011 Government Center Parkway</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field5Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=GiftBox</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field5Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOB</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field5Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Mar 11, 1990</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field6Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Age</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field6Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Age</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field6Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>33</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field7Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Language</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field7Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Language</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field7Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>English</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field8Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Gender</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field8Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Gender</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field8Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>M</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field9Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Home</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field9Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Country</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Field9Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>US</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_header_subtitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fairfax, Virginia</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Andy Peterson</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_profile_image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qbranch-india.file.force.com/servlet/servlet.ImageServer?id=0155j000000xiqi&amp;oid=00D5j000004lTCM&amp;lastMod=1710332749000</stringValue>
        </value>
    </variables>
    <variables>
        <name>add_Progressbar17Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>add_Progressbar18Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>add_Progressbar19Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>add_Section1Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>add_Section2Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>add_Section3Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>add_SectionKPIActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Field10Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/resource/xdo_dc_c360genie/Icons/type=Membership</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>universal360config</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xdo_dc_universal_360__c</objectType>
    </variables>
</Flow>
